/*--------------------------------------------------------------------------------------------
Remove!!!!!!
---------------------------------------------------------------------------------------------*/

.pg-styleguide {
    #sub-feature {
        display: none;
    }
	
    #body{
        padding: 40px;
        background: #f8f8f8!important;
    }
	
    section {
        padding: 40px 0;
    }
}

/*--------------------------------------------------------------------------------------------
Small
---------------------------------------------------------------------------------------------*/

body {
    font-family: $base-body-font-family;
    font-size: $base-body-font-size;
    font-weight: $font-weight-medium;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    text-rendering: optimizeLegibility;
}

p {
    font-size: $base-body-font-size;
    line-height: $base-body-line-height;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $base-header-font-family;
}

h1 {
    font-size: $base-h1-font-size;

    &.display {
        font-size: $base-h1-font-size;
    }
}

h2 {
    font-size: $base-h2-font-size;
    font-weight: $font-weight-light;
}

h3 {
    font-size: $base-h3-font-size;
    font-weight: $font-weight-light;
}

h4 {
    font-size: $base-h4-font-size;
}

h5 {
    font-size: $base-h5-font-size;
}

h6 {
    font-size: $base-h5-font-size;
}

// Links

.has-arrow:after {
    content: "\f105";
    font-family: fontawesome;
    margin-left: 15px;
}




/*--------------------------------------------------------------------------------------------
Large
---------------------------------------------------------------------------------------------*/

@include bp-large {
    body {
        font-size: $base-body-font-size-large;
    }
	
    p {
        font-size: $base-body-font-size-large;
    }
	
    h1 {
        font-size: $base-h1-font-size-large;
		
        &.display {
            font-size: $base-h1-font-size-display-large;
        }
    }
	
    h2 {
        font-size: $base-h2-font-size-large;
    }
	
    h3 {
        font-size: $base-h3-font-size-large;
    }
	
    h4 {
        font-size: $base-h4-font-size-large;
    }
	
    h5 {
        font-size: $base-h5-font-size-large;
    }
	
    h6 {
        font-size: $base-h5-font-size-large;
    }
}