.-bg-a {
    background-color: #fee0dd;
    color: #fb857b;
}

.-bg-b {
    background-color: #f9d0ce;
    color: #ea4640;
}

.-bg-c {
    background-color: #f8c7d8;
    color: #e52565;
}

.-bg-d {
    background-color: #ecccdf;
    color: #b7387d;
}

.-bg-e {
    background-color: #e2cfe4;
    color: #8d4194;
}

.-bg-f {
    background-color: #d8d1e5;
    color: #644c9b;
}

.-bg-g {
    background-color: #d4d3e6;
    color: #54529d;
}

.-bg-h {
    background-color: #d0d4e7;
    color: #4657a0;
}

.-bg-i {
    background-color: #d0dbec;
    color: #4657a0;
}

.-bg-j {
    background-color: #c9e4fc;
    color: #4673b6;
}

.-bg-k {
    background-color: #cbe8f5;
    color: #34a3d9;
}

.-bg-l {
    background-color: #c2eef3;
    color: #21bbd1;
}

.-bg-m {
    background-color: #c6eae9;
    color: #26abac;
}

.-bg-n {
    background-color: #c1e5e1;
    color: #179688;
}

.-bg-o {
    background-color: #d1ead2;
    color: #4dac52;
}

.-bg-p {
    background-color: #e1efd2;
    color: #89c051;
}

.-bg-q {
    background-color: #ecf0c1;
    color: #b7c525;
}

.-bg-r {
    background-color: #f7efc6;
    color: #dec030;
}

.-bg-s {
    background-color: #fdeec6;
    color: #f9bf33;
}

.-bg-t {
    background-color: #fce4c8;
    color: #f59532;
}

.-bg-u {
    background-color: #fbddc9;
    color: #f17833;
}

.-bg-v {
    background-color: #fad5cb;
    color: #ec5936;
}

.-bg-w {
    background-color: #ecd6cf;
    color: #b75a42;
}

.-bg-x {
    background-color: #f5dbd6;
    color: #da6f5f;
}

.-bg-y {
    background-color: #dedede;
    color: #7b7b7b;
}

.-bg-z {
    background-color: #e6e6e6;
    color: #9c9c9c;
}

.-bg-rew2 {
    background: #00c4d8;
}

.-bg-rew2-inverse {
    background: #ef6862;
}

.-bg-red {
    background: #ea4640;
}

.-bg-rose {
    background: #fb857b;
}

.-bg-violet {
    background: #644c9b;
}

.-bg-purple {
    background: #8d4194;
}

.-bg-blue {
    background: #4673b6;
}

.-bg-azure {
    background: #07f;
}

.-bg-seafoam {
    background: #179688;
}

.-bg-lime {
    background: #b7c525;
}

.-bg-green {
    background: #89c051;
}

.-bg-orange {
    background: #ec5936;
}

.-bg-blaze {
    background: #f17833;
}

.-bg-grenadine {
    background: #ef5641;
}

.-bg-bean {
    background: #3d0d02;
}

.-bg-almond {
    background: #eed9c4;
}

.-bg-marigold {
    background: #eba222;
}

.-bg-canary {
    background: #f5f552;
}

.-bg-yellow {
    background: #dec030;
}

.-bg-grey {
    background: #7b7b7b;
}

.-bg-unknown,
.-bg- {
    background-color: #fff;
    color: #fff;
}