.-dB {
    display: block;
}

.-dIB {
    display: inline-block;
}

.-dI {
    display: inline;
}

.-dF {
    display: flex;
}

.-dIF {
    display: inline-flex;
}

.dB {
    display: block;
}

.dF {
    display: flex;
}

.row {
    display: flex;
    flex-basis: 100%;
    text-overflow: hidden;
    max-width: 100%;
}

.hidden {
    display: none !important;
}

.clear {
    clear: both;
}

@media only screen and (max-width: 900px) {
    .hid-SM {
        display: none;
    }
}

/* TODO: Review use cases for these selectors */

#app .dB {
    display: block;
}

#app .dF {
    display: flex;
}

#app .dI {
    display: inline;
}

#app .dIB {
    display: inline-block;
}

.wrp {
    max-width: 1400px;
    margin: 0 auto;
}

.dF .ttl {
    flex: 1;
    padding: 10px 15px;
    color: #999;
}