/**
 * Spacing
 */

html .mar {
    margin: 24px;
}

html .mar8 {
    margin: 8px;
}

html .-marB {
    margin-bottom: 24px;
}

html .-marB0 {
    margin-bottom: 0;
}

html .-marB8 {
    margin-bottom: 8px;
}

html .-marH {
    margin: 0 24px;
}

html .-marV {
    margin: 24px 0;
}

html .-marR8 {
    margin-right: 8px;
}

html .-pad {
    padding: 24px;
}

html .-pad8 {
    padding: 8px;
}

html .-padB {
    padding-bottom: 24px;
}

html .-padB8 {
    padding-bottom: 8px;
}

html .-padH {
    padding-left: 24px;
    padding-right: 24px;
}

html .-padH8 {
    padding-left: 8px;
    padding-right: 8px;
}

html .-padH16 {
    padding-left: 16px;
    padding-right: 16px;
}

html .-padV {
    padding: 24px 0;
}

html .-padL0 {
    padding-left: 0;
}

html .-padL8 {
    padding-left: 8px;
}

html .-padR0 {
    padding-right: 0;
}

html .-padR8 {
    padding-right: 8px;
}

html .-padB0 {
    padding-bottom: 0;
}

@media only screen and (max-width: 640px) {

    .-pad0\@sm {
        padding: 0;
    }

    .-padB0\@sm {
        padding-bottom: 0;
    }

    .-padT0\@sm {
        padding-top: 0;
    }

    .-hidden\@sm {
        display: none;
    }
}


@media only screen and (min-width: 641px) and (max-width: 1024px) {

    .-hidden\@md {
        display: none;
    }

}

@media only screen and (min-width: 1025px) {

    .-hidden\@lg {
        display: none;
    }

}

.marT {
    margin-top: 24px;
}

.marB {
    margin-bottom: 24px;
}

.marR {
    margin-right: 12px;
}

.marL {
    margin-left: 12px;
}

.pad {
    padding: 24px;
}

.padL {
    padding-left: 24px;
}

.padB {
    padding-bottom: 24px;
}

.padT {
    padding-top: 24px;
}

.padV {
    padding-top: 24px;
    padding-bottom: 24px;
}

.padH {
    padding-left: 24px;
    padding-right: 24px;
}

html .mar0 {
    margin: 0;
}