/*--------------------------------------------------------------------------------------------
Media Queries
---------------------------------------------------------------------------------------------*/

@mixin bp-xsmall {
    @media (min-width: #{$breakpoint-xsmall}) {
        @content;
    }
}

@mixin bp-small {
    @media (min-width: #{$breakpoint-small}) {
        @content;
    }
}

@mixin bp-medium {
    @media (min-width: #{$breakpoint-medium}) {
        @content;
    }
}

@mixin bp-large {
    @media (min-width: #{$breakpoint-large}) {
        @content;
    }
}

@mixin bp-xlarge {
    @media (min-width: #{$breakpoint-xlarge}) {
        @content;
    }
}


/* Extra Large screens */
@media (min-width: $breakpoint-xlarge) {
    /* Horizontal */
    .uk-grid-xlarge { margin-left: -$grid-gutter-xlarge-horizontal; }
    .uk-grid-xlarge > * { padding-left: $grid-gutter-xlarge-horizontal; }

    /* Vertical */
    .uk-grid-xlarge + .uk-grid-xlarge,
    .uk-grid-xlarge-margin,
    .uk-grid-xlarge > * > .uk-panel + .uk-panel { margin-top: $grid-gutter-xlarge-vertical; }
}



/*--------------------------------------------------------------------------------------------
Link States
---------------------------------------------------------------------------------------------*/

@mixin link-state ($base-link-color, $visit, $hover, $active) {
    a {
        color: $base-link-color;

        &:visited {
            color: $visit;
        }

        &:hover {
            color: $hover;
            text-decoration: none;
        }

        &:active {
            color: $active;
        }
    }

}

@mixin gradient ($start,$end,$fallback) {
    background: $fallback; /* fallback */
    background: -webkit-gradient(linear, left top, left bottom, from($start), to($end)); /* for webkit browsers */
    background: -moz-linear-gradient(top, $start, $end); /* for firefox 3.6+ */
    background: -ms-linear-gradient(top, $start, $end); /* for ie 10+ */
    background: linear-gradient($start, $end);
}
