// This contains all the code necessary for UIKit spinner. It's used during loading.

@font-face {
    font-family: 'FontAwesome';
    src: url("#{$icon-font-path}/fontawesome-webfont.woff2") format('woff2'),
        url("#{$icon-font-path}/fontawesome-webfont.woff") format("woff"),
        url("#{$icon-font-path}/fontawesome-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

[class*='uk-icon-'] {
    font-family: FontAwesome;

    /* 1 */
    display: inline-block;

    /* 2 */
    font-weight: normal;
    font-style: normal;

    /* 4 */
    line-height: 1;

    /* 5 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class*='uk-icon-'],
[class*='uk-icon-']:hover,
[class*='uk-icon-']:focus { text-decoration: none; }

.uk-icon-large {
    font-size: $icon-large-font-size;
    vertical-align: $icon-large-vertical-align;
}

.uk-icon-spin {
    display: inline-block;
    -webkit-animation: uk-rotate 2s infinite linear;
    animation: uk-rotate 2s infinite linear;
}
.uk-icon-spinner:before { content: "\f110"; }

@-webkit-keyframes uk-rotate {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(359deg); }
}

@keyframes uk-rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
}
