/**
 * TODO: This file will be deleted in 4.8
 * It is present because the elite template references it in this directory
 * Make this file local in the elite template and reference it from there before deleting in 4.8
 */

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++ FILE MANAGER
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


.file-manager
{
    background: #bebebe;
    border-top: 1px solid #eee;
    overflow: hidden;
    border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px;
}

.file-manager-error {
    color: red;
}

.file-manager ul.ui-sortable
    {
    list-style: none;
    margin: 0 !important; padding: 0;
}

.file-manager ul li
        {
    background: #fff;
    border: 1px solid #999;
    float: left;
    height: 95px;
    list-style: none;
    margin: 10px;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3); -moz-box-shadow: 0 0 5px rgba(0,0,0,.3); -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
    overflow: hidden;
    padding: 5px;
    position: relative;
    width: 95px;
}

.file-manager li.placeholder
        {
    background: #e4e4e4;
    border: 3px dashed #61a1e4;
    height: 85px;
    box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
    width: 85px;
}

.file-manager ul li i.wrap
            {
    background: #4a4c4f;
    display: block;
    height: 100%;
    box-shadow: inset 0 0 10px rgba(0,0,0,.3); -moz-box-shadow: inset 0 0 10px rgba(0,0,0,.3); -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.3);
    position: relative;
    width: 100%;
}

.file-manager ul li img
            {
    float: left;
}

.file-manager li a
            {
    display: block;
}

.file-manager li .actions
            {
    position: absolute;
    width: 70px; height: 40px;
    top: 50%; left: 50%;
    margin: -20px 0 0 -35px;
}

.file-manager li .actions.num_actions_1 { height: 20px; margin-top: -10px; }
.file-manager li .actions.num_actions_2 { height: 40px; margin-top: -30px; }
.file-manager li .actions.num_actions_3 { height: 60px; margin-top: -40px; }

.file-manager li .actions a
                {
    display: block;
    float: none;
    text-align: center;
    text-decoration: none;
    margin: 0; left: 0;
}

/** QQ Uploader **/

.qq-uploader
        {
    position: relative;
}

.qq-upload-button
        {

}

.qq-upload-button .icon
        {
    margin: 0;
}

.qq-upload-button:hover
        {

}

.qq-upload-drop-area
        {
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 2;
    background: #c9ff8f; text-align: center;
    -moz-border-radius: 10px;
}

.qq-upload-drop-area-active
        {
    background: #c9ff8f;
}

.qq-upload-drop-area span
        {
    display: block;
    position: absolute; top: 50%; width: 100%;
    margin-top: -8px; font-size: 16px;
}

.qq-uploader .qq-upload-list
        {
    position: absolute;
    margin: 0 !important; padding: 0; list-style: none !important;
    top: 50px; left: 50%;
    width: 350px;
    margin-left: -125px !important;
    background: #fff;
    z-index: 1000;
}

li.qq-upload-success { display: none !important; }

.qq-upload-list li { margin:0; padding: 5px; line-height:15px; font-size:12px;}

.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file { cursor: pointer; }
.qq-upload-spinner {display:inline-block; background: url('../../img/spinner-mini.gif'); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}