$color-primary 			: 	#231f20 				!default; 	// Black/Dark Gray	
$color-secondary		: 	#672c57 				!default; 	// Burgandy
$secondary-light 		: 	lighten(#672c57, 5%) 	!default;	// Lighten Secondary Colour
$color-accent-primary 	: 	#eae3d4 				!default; 	// Cream

$base-link-color: $color-secondary 			!default;
$base-link-hover-color: $secondary-light 	!default;