.flatpickr-wrapper {
    width: 100%;
    display: block;
}

.flatpickr-input {
    min-width: 95%;
}

@media (max-width: 680px) {
    .input--manage {
        width: 100%;
    }

    .btns label {
        float: none;
        display: block;
        margin-bottom: 16px;
    }

    .btns button[type="submit"] {
        margin: 0;
    }
}
