#quick_note form {
    padding: 0;
}

.grid .btn {
    padding-left: 0;
    padding-right: 0;
}

.dotloop-circle {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 100px;
    position: absolute;
    right: -22px;
    top: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0096d8;
}

.dotloop-circle span {
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    display: block;
    border-radius: 100px;
    background-color: #f8f7fa;
}

.notes .keyvals__row--rows {
    flex-direction: row;
}

.notes .keyvals__key {
    align-self: start;
    min-width: 150px;
}

@media (max-width: 800px) {
    .notes .keyvals__row--rows {
        width: auto;
        flex-basis: auto;
    }
}

@media (max-width: 480px) {
    .notes .keyvals__row--rows {
        flex-direction: column;
        align-items: flex-start;
    }

    .notes .keyvals__key {
        min-width: 0;
        padding-left: 0;
        font-weight: 700;
    }
}

.notes--agent {
    max-height: 500px;
    overflow: hidden;
    position: relative;
}

.notes--agent.is-active {
    max-height: none;
}

.notes--agent .fade {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 90%;
    left: 0;
    background: linear-gradient(to bottom, #fff, rgba(255, 255, 255, 0.65));
}

.custom-fields .keyvals__key {
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media (min-width: 580px) {
    .custom-fields .keyvals__key {
        max-width: 500px;
    }
}

/**
 * The qucik note autocomplete is located at the bottom of the page
 * Reduce its max-height to ensure it doesn't get cut off
 * BREW48-2780
 */

#quick_note .ui-autocomplete.ui-menu {
    max-height: 200px !important;
}

/**
 * Reset .`tabbed` styles
 * `.ui-autocomplete` is now within `.tabbed`
 */

#quick_note .ui-autocomplete.ui-menu li,
#quick_note .ui-menu .ui-menu-item-wrapper {
    float: none;
}
