/*--------------------------------------------------------------------------------------------
FOOTER
---------------------------------------------------------------------------------------------*/

.fw-footer {
    .popular-pages-container {
        @include bp-xsmall { 
            margin-bottom: 0;
        }

        @include bp-medium { 
            margin-bottom: 30px;
        }
    
    }

    .toggle-container {
        .uk-icon {
            float: right;
            cursor: pointer;
        }  

        @include bp-xsmall {
            &.inactive {
                .container-inner {
                    display: none;
                    width: 100%;
                }
            }
        }    

        @include bp-medium {
            &.inactive .container-inner {
                display: inline-block;
                width: 100%;
            }  
        }

        &.active {
            padding-bottom: 1em;
        }
    } 
}

//FOOTER
.fw-footer {
    padding-top:35px;
    padding-bottom:35px;
    
    .logo {
        img {max-width: 11em;}

        @include bp-xsmall {
            display: block;
            margin: 0 auto;
        } 

        @include bp-medium {
            display: inline;
            text-align: left;
            margin: 0;
        }
    }
    
    //Footer Login Btn's
    .footer-login {
        p {
            font-size:16px;
            
            @include bp-xsmall {
                font-size: 14px;
                text-align: center;
                padding: 1.5em 0 1em;
            }

            @include bp-medium {
                font-size: 12px;
                padding: 0;
            }

            @include bp-large {
                font-size: 14px;
            }

            @include bp-xlarge {
                font-size: 16px;
            }
        }
        
        .btn {
            text-transform: uppercase;
            font-size:16px;
            padding:6px 15px;
            display:inline-block;
            width:48%;
            white-space: nowrap;
            
            &:first-child {
                margin-right:1%;
            }
            
            @media only screen and (max-width: 530px) {
                padding-left:0;
                padding-right:0;
            }
        }
    }
    
    hr.uk-grid-divider:empty { width: 100%; }
}


.footer-links {
    text-transform: uppercase;
  
    ul {
        list-style: none;
        padding-left: 0;
    }
  
    li {
        margin-bottom: 5px;
    }
    
    h5 {
        font-size: 20px;
        margin-bottom: 18px;
        text-transform: uppercase;
        font-weight: $font-weight-semi-bold;
    }
    
    .foot-social {
        li {
            float:left;
            margin-right: 20px;
        
            @include bp-large {
                float: none;
                margin-right: 0;
            }
        }
    }
}

.fw-copyright {
    padding-top:40px;
    padding-bottom:40px;

    .copyright  {
        display:block;
        padding:0;
        margin:5px 0 0 0;
        
        @include bp-xsmall {
            text-align: center;
        }

        @include bp-medium {
            text-align: left;
        }    
        
        a { text-decoration: none; }
        
        span {
            display:block;
            padding: 0 0.5em;
            margin: 15px 0px;

            @include bp-xsmall {
                display: inline-block;
                margin: 0;
            }
            
        }

        .footer-link-divider {
            @include bp-xsmall {
                display: none;
            }

            @include bp-medium {
                display: inline-block;
            }
        }
    }
    
    .rewcall {
        float:right;

        @media only screen and (max-width:768px) {
            float:none;
            text-align: center;
        }

        a {
            display:inline-block;
            margin-left:10px;
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }

            @media only screen and (max-width:768px) {
                img {
                    margin-top:20px;   
                }
            }
        }
    }
}


/*--------------------------------------------------------------------------------------------
Footer
---------------------------------------------------------------------------------------------*/

.fw-footer {
    .uk-margin-large-bottom {
        margin-bottom: 30px!important;

        @include bp-large {
            margin-bottom: 0!important;
        }
    }
  
    li {
        margin-bottom: 8px;
    }
  
    i {
        padding-right: 2em;
    }
}


