/*--------------------------------------------------------------------------------------------
PRIMARY NAVIGATION
---------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------
Navbar
---------------------------------------------------------------------------------------------*/

.uk-dropdown {
    outline-style: none;
}

ul.uk-nav {
    list-style: none;
}

.fw-header-nav {
    padding: 0 10px 0 0;


    .uk-icon-bars {
        font-size: 20px;
        padding: 10px 10px;
    }

    .uk-icon-bars, .uk-icon-mobile {
        @include bp-medium {
            line-height: 50px;
        }
    }

    .uk-icon-mobile  {
        font-size: 32px;
        position: relative;
        top: 3px;
    }

    .uk-navbar {
        background: none;

        @include bp-medium {
            float: right;
        }
    }

    .uk-navbar-nav > li > a {
        text-transform: uppercase;
        font-family: $base-body-font-family;
        font-size: 16px;
        line-height: 50px;
        height: 50px;
    }

    .uk-nav-dropdown {
        // IE Drop Down Fix
        &:before,&:after {
            content:none;
            display:none;
        }

        a {
            padding: 10px 15px;
            text-transform: uppercase;
        }
    }


    .header-phone {
        @include bp-large {
            font-size: 24px;
            line-height: 50px;
            margin-left: 6.5%;
        }
    }
}




/*--------------------------------------------------------------------------------------------
Submenu
---------------------------------------------------------------------------------------------*/

.submenu {
    position: relative;

    @include bp-medium {
        position: absolute;
        z-index: 300; // Get proper z-index
    }
}




/*--------------------------------------------------------------------------------------------
Off Canvas Menu
---------------------------------------------------------------------------------------------*/

.uk-offcanvas {
    .uk-nav-offcanvas a {
        padding: 15px;
        text-transform: uppercase;
        position: relative;
    }

    .uk-nav-sub>li>a {
        padding-left: 25px;
    }

    .uk-nav-parent-icon>.uk-parent>a:after {
        content: "\f489";
        float: right;
        font-family: ionicons;
        font-size: 20px;
        margin-right: -3px!important;
    }

    .uk-nav-parent-icon>.uk-parent.uk-open>a:after {
        content: "\f462";
        float: right;
        font-family: ionicons;
        font-size: 20px;
        margin-right: -3px!important;
    }
}