// UK-CONTAINER XLARGE
.uk-container-large, .uk-container-xlarge {
    box-sizing: border-box;
    max-width: $utility-container-xlarge-max-width;
    padding: 0;
    //overflow: hidden;
  
    .uk-grid-small > * {
        padding-left: 20px;
        margin-bottom: 1em;
    }  
  
    @include bp-xsmall {
        max-width: 655px;

        .uk-grid-small > * {
            padding-left: 20px;
            margin-bottom: 10px
        }
    }
  
    @include bp-small {
        max-width: 770px;

        .uk-grid-small > * {
            padding-left: 20px;
            margin-bottom: 1em;
        }
    }
  
    @include bp-medium {
        max-width: 655px;

        .uk-grid-small > * {
            padding-left: 10px;
            margin-bottom: 0;
        }
    }
  
    @include bp-large {
        max-width: 890px;

        .uk-grid-small > * {
            padding-left: 10px;
            margin-bottom: 0;
        }
    }
  
    @include bp-xlarge {
        max-width: $utility-container-xlarge-max-width;

        .uk-grid > * {
            padding-left: 20px;  
            margin-bottom: 0;    
        }
    }

}