<div class="buttons">
    <span class="toggle toggle--all">
        <input type="checkbox" class="toggle__checkbox" id="sall">
        <label class="toggle__proxy" for="sall"></label>
    </span>
    <a class="button button--strong"><svg class="icon icon--sm icon--invert"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/backend/img/brew-icons-16.svg#icon--person"></use></svg> Assign</a>
    <a class="button button--ghost"><svg class="icon icon--sm"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/backend/img/brew-icons-16.svg#icon--group"></use></svg> Group</a>
    <a class="button button--ghost"><svg class="icon icon--sm"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/backend/img/brew-icons-16.svg#icon--email"></use></svg> Email</a>
    <a class="button button--ghost"><svg class="icon icon--sm"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/backend/img/brew-icons-16.svg#icon--trash"></use></svg> Delete</a>
</div>