#ignore cache
httpdocs/inc/cache/css/
httpdocs/inc/cache/html/
httpdocs/inc/cache/js/
httpdocs/inc/cache/json/
httpdocs/inc/cache/tmp/
httpdocs/inc/cache/img/
httpdocs/inc/cache/xml

#ignore uploads
httpdocs/uploads
httpdocs/share

#moxiemanager
httpdocs/backend/inc/lib/tinymce/plugins/moxiemanager/data/storage/*

#ignore all vendor git files
vendor/**/.git

# Third-party modules
node/
bower_components/
node_modules/

# Test output
tests/_output/*
tests/_support/_generated

# Config
config/env/

# Devops
.idea