#ga-loader {
    font-size: 18px;
    margin: 0 auto;
    min-width: 200px;
    padding: 15px;
    background-color: #eaeaea;
    border-radius: 10px;
}

#ga-loader img {
    vertical-align: middle;
}

#ga-data fieldset.grid {
    padding: 5px;
    margin: 0;
}

#ga-data .chart {
    width: 100%;
    height: 275px;
}

#dashboard_cols {
    margin-top: 1em;
}

#dashboard_cols ul {
    list-style-type: none;
    padding: 0 1em;
}