<div class="shutter">
    <div class="shutter__head text--center">Delete Lead</div>
    <div class="shutter__body">
        <div class="cover">
            <div class="cover__content text--center">
                <img src="/backend/img/ills/whoa.png" alt="" width="80">
                <h4 class="-marB0">Whoa... Delete is Permanent, are you Sure?</h4>
                <p class="text--mute">Once Eddy Murphy is gone, Eddy Murphy is gone for good.</p>
            </div>
        </div>
    </div>
    <div class="shutter__foot">
        <div class="pad mar0">
            <a href="#" class="button button--strong w1/1">Yes, Delete Anyway</a>
            <a href="#" class="button w1/1">
                <svg class="icon icon--sm">
                    <use xlink:href="/backend/img/v2.svg#icon--close"></use>
                </svg>
                Cancel
            </a>
        </div>
    </div>
</div>