<div class="shutter">
    <div class="shutter__head">Assign:</div>
    <div class="shutter__body shutter__body--scrollable">
        <form><input type="text" class="w1/1" placeholder="Filter..."></form>
        <a class="article" href="#">
            <span class="article__body">
                <span class="article__thumb thumb thumb--medium">
                    <img src="https://randomuser.me/api/portraits/women/75.jpg">
                </span>
                <span class="menu__content">
                    <span class="text text--strong">Agent 1</span>
                    <span class="text text--mute">Agent</span>
                </span>
            </span>
        </a>
        <a class="article" href="#">
            <span class="article__body">
                <span class="article__thumb thumb thumb--medium">
                    <img src="https://randomuser.me/api/portraits/women/76.jpg">
                </span>
                <span class="menu__content">
                    <span class="text text--strong">Agent B</span>
                    <span class="text text--mute">Seller's Agent</span>
                </span>
            </span>
        </a>
        <a class="article" href="#">
            <span class="article__body">
                <span class="article__thumb thumb thumb--medium -bg-s">
                    <img src="https://randomuser.me/api/portraits/men/69.jpg">
                </span>
                <span class="menu__content">
                    <span class="text text--strong">Agent 2</span>
                    <span class="text text--mute">Agent</span>
                </span>
            </span>
        </a>
        <a class="article" href="#">
            <span class="article__body">
                <span class="article__thumb thumb thumb--medium -bg-k">
                    <img src="https://randomuser.me/api/portraits/men/57.jpg">
                </span>
                <span class="menu__content">
                    <span class="text text--strong">Agent 3</span>
                    <span class="text text--mute">Buyer's Agent</span>
                </span>
            </span>
        </a>
        <a class="article" href="#">
            <span class="article__body">
                <span class="article__thumb thumb thumb--medium -bg-d">
                    <img src="https://randomuser.me/api/portraits/men/24.jpg">
                </span>
                <span class="menu__content">
                    <span class="text text--strong">Agent 4</span>
                    <span class="text text--mute">Agent</span>
                </span>
            </span>
        </a>
        <a class="article" href="#">
            <span class="article__body">
                <span class="article__thumb thumb thumb--medium -bg-j">
                    <img src="https://randomuser.me/api/portraits/women/69.jpg">
                </span>
                <span class="menu__content">
                    <span class="text text--strong">Agent 5</span>
                    <span class="text text--mute">Agent</span>
                </span>
            </span>
        </a>
        <a class="article" href="#">
            <span class="article__body">
                <span class="article__thumb thumb thumb--medium -bg-g">
                </span>
                <span class="menu__content">
                    <span class="text text--strong">Agent 6</span>
                    <span class="text text--mute">Buyer's Agent</span>
                </span>
            </span>
        </a>
        <a class="article" href="#">
            <span class="article__body">
                <span class="article__thumb thumb thumb--medium -bg-w">
                </span>
                <span class="menu__content">
                    <span class="text text--strong">Agent 7</span>
                    <span class="text text--mute">Agent</span>
                </span>
            </span>
        </a>
        <a class="article" href="#">
            <span class="article__body">
                <span class="article__thumb thumb thumb--medium -bg-r">
                </span>
                <span class="menu__content">
                    <span class="text text--strong">Agent 8</span>
                    <span class="text text--mute">Broker</span>
                </span>
            </span>
        </a>
        <a class="article" href="#">
            <span class="article__body">
                <span class="article__thumb thumb thumb--medium -bg-b">
                </span>
                <span class="menu__content">
                    <span class="text text--strong">Agent 9</span>
                    <span class="text text--mute">Broker</span>
                </span>
            </span>
        </a>
    </div>
    <div class="shutter__foot">
        <div class="buttons pad w1/1 mar0">
            <a href="#" class="button w1/1">
                <svg class="icon icon--sm">
                    <use xlink:href="/backend/img/v2.svg#icon--close"></use>
                </svg>
                Cancel
            </a>
        </div>
    </div>
</div>