<div class="shutter">
    <div class="shutter__head">Add to Group:</div>
    <div class="shutter__body shutter__body--scrollable">
        <form><input type="text" class="w1/1" placeholder="Filter Groups..."></form>
        <a class="article" href="#">
            <span class="article__body">
                <span class="article__thumb thumb thumb--medium -bg-a">
                </span>
                <span class="menu__content">
                    <span class="text text--strong">Group 1</span>
                    <span class="text text--mute">23 Leads</span>
                </span>
            </span>
        </a>
        <a class="article" href="#">
            <span class="article__body">
                <span class="article__thumb thumb thumb--medium -bg-y">
                </span>
                <span class="menu__content">
                    <span class="text text--strong">Group B</span>
                    <span class="text text--mute">22 Leads</span>
                </span>
            </span>
        </a>
        <a class="article" href="#">
            <span class="article__body">
                <span class="article__thumb thumb thumb--medium -bg-s">
                </span>
                <span class="menu__content">
                    <span class="text text--strong">Group 2</span>
                    <span class="text text--mute">18 Leads</span>
                </span>
            </span>
        </a>
        <a class="article" href="#">
            <span class="article__body">
                <span class="article__thumb thumb thumb--medium -bg-k">
                </span>
                <span class="menu__content">
                    <span class="text text--strong">Group 3</span>
                    <span class="text text--mute">17 Leads</span>
                </span>
            </span>
        </a>
        <a class="article" href="#">
            <span class="article__body">
                <span class="article__thumb thumb thumb--medium -bg-d">
                </span>
                <span class="menu__content">
                    <span class="text text--strong">Group 4</span>
                    <span class="text text--mute">9 Leads</span>
                </span>
            </span>
        </a>
        <a class="article" href="#">
            <span class="article__body">
                <span class="article__thumb thumb thumb--medium -bg-j">
                </span>
                <span class="menu__content">
                    <span class="text text--strong">Group 5</span>
                    <span class="text text--mute">9 Leads</span>
                </span>
            </span>
        </a>
        <a class="article" href="#">
            <span class="article__body">
                <span class="article__thumb thumb thumb--medium -bg-g">
                </span>
                <span class="menu__content">
                    <span class="text text--strong">Group 6</span>
                    <span class="text text--mute">6 Leads</span>
                </span>
            </span>
        </a>
        <a class="article" href="#">
            <span class="article__body">
                <span class="article__thumb thumb thumb--medium -bg-w">
                </span>
                <span class="menu__content">
                    <span class="text text--strong">Group 7</span>
                    <span class="text text--mute">5 Leads</span>
                </span>
            </span>
        </a>
        <a class="article" href="#">
            <span class="article__body">
                <span class="article__thumb thumb thumb--medium -bg-r">
                </span>
                <span class="menu__content">
                    <span class="text text--strong">Group 8</span>
                    <span class="text text--mute">4 Leads</span>
                </span>
            </span>
        </a>
        <a class="article" href="#">
            <span class="article__body">
                <span class="article__thumb thumb thumb--medium -bg-b">
                </span>
                <span class="menu__content">
                    <span class="text text--strong">Group 9</span>
                    <span class="text text--mute">1 Leads</span>
                </span>
            </span>
        </a>
    </div>
    <div class="shutter__foot">
        <div class="buttons pad w1/1 mar0">
            <a href="#" class="button w1/1">
                <svg class="icon icon--sm">
                    <use xlink:href="/backend/img/v2.svg#icon--close"></use>
                </svg>
                Cancel
            </a>
        </div>
    </div>
</div>