<div class="shutter">
    <div class="shutter__head">Navigate:</div>
    <div class="shutter__body shutter__body--scrollable">
        
        <form><input type="text" class="w1/1"></form>
        
        <a class="article" href="#">
            <span class="article__body">
                <span class="article__thumb thumb thumb--medium">
                    <i class="sprite sprite--medium sprite--dashboard"></i>
                </span>
                <span class="menu__content">
                    <span class="text text--strong">Dashboard</span>
                    <span class="text text--mute">Overview</span>
                </span>
            </span>
        </a>
        <a class="article" href="#">
            <span class="article__body">
                <span class="article__thumb thumb thumb--medium">
                    <i class="sprite sprite--medium sprite--crm"></i>
                </span>
                <span class="menu__content">
                    <span class="text text--strong">CRM</span>
                    <span class="text text--mute">Manage Leads</span>
                </span>
            </span>
        </a>
        <a class="article" href="#">
            <span class="article__body">
                <span class="article__thumb thumb thumb--medium">
                    <i class="sprite sprite--medium sprite--people"></i>
                </span>
                <span class="menu__content">
                    <span class="text text--strong">Company</span>
                    <span class="text text--mute">People &amp; Offices</span>
                </span>
            </span>
        </a>
        <a class="article" href="#">
            <span class="article__body">
                <span class="article__thumb thumb thumb--medium">
                    <i class="sprite sprite--medium sprite--content"></i>
                </span>
                <span class="menu__content">
                    <span class="text text--strong">Content</span>
                    <span class="text text--mute">Manage Website</span>
                </span>
            </span>
        </a>
        <a class="article" href="#">
            <span class="article__body">
                <span class="article__thumb thumb thumb--medium">
                    <i class="sprite sprite--medium sprite--listings"></i>
                </span>
                <span class="menu__content">
                    <span class="text text--strong">Listings</span>
                    <span class="text text--mute">Manage Leads</span>
                </span>
            </span>
        </a>
        <a class="article" href="#">
            <span class="article__body">
                <span class="article__thumb thumb thumb--medium">
                    <i class="sprite sprite--medium sprite--settings"></i>
                </span>
                <span class="menu__content">
                    <span class="text text--strong">Settings</span>
                    <span class="text text--mute">Settings &amp; Prefs.</span>
                </span>
            </span>
        </a>
    </div>
    <div class="shutter__foot">
        <a class="article" href="#">
            <span class="article__body">
                <span class="article__thumb thumb thumb--medium -bg-a"></span>
                <span class="menu__content">
                    <span class="text text--strong">Philip Pond</span>
                    <span class="text text--mute">Administrator</span>
                </span>
            </span>
        </a>
        <div class="buttons pad w1/1 mar0">
            <a href="#" class="button w1/1">
                <svg class="icon icon--sm">
                    <use xlink:href="/backend/img/v2.svg#icon--close"></use>
                </svg>
                Cancel
            </a>
        </div>
    </div>
</div>
