<div class="shutter">
    <div class="shutter__head text--center">Reminder</div>
    <div class="shutter__body">
        <div class="cover">
            <div class="cover__content text--center">
                <img src="/backend/img/ills/reminder.png" alt="" width="80">
                <h4 class="-marB0">Meeting w/ Flynn Jacobs @ Downtown Coffee Shop</h4>
                <p class="text--mute">Meeting RE: Closing documents & catch-up.</p>
                <span class="flag">15 Mins.</span>
            </div>
        </div>
    </div>
    <div class="shutter__foot">
        <div class="pad mar0">
            <a href="#" class="button button--strong w1/1">OK</a>
            <a href="#" class="button w1/1">
                Snooze
            </a>
        </div>
    </div>
</div>