#agent-permissions h1 {
    font-weight: 500;
    border-bottom: 1px solid #ccc;
}

#agent-permissions [type=checkbox] {
    margin-right: 3px;
}

.subpermissions {
    margin-left: 25px;
}

.permissions__content {
    padding-top: 16px;
    display: none;
}

.panel__hd--permissions {
    margin: 0;
    cursor: pointer;
}

.panel__hd--permissions .icon {
    float: right;
    width: 38px !important;
    height: 38px !important;
    margin-top: -6px;
    pointer-events: none;
}

/* Toggle permission sections */
.field--permissions.is-active .permissions__content {
    display: block;
}