$color-primary 			: 	#004481 				!default; 	// Blue	
$color-secondary		: 	#b4141c 				!default; 	// Red
$secondary-light 		: 	lighten(#b4141c, 5%) 	!default;	// Lighten Secondary Colour
$color-accent-primary 	: 	#ffffff 				!default; 	// White

$base-link-color: $color-secondary 			!default;
$base-link-hover-color: $secondary-light 	!default;