#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100%;
    min-height: 100vh;
}

#app__head {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-shrink: 0;
}

#app__row {
    flex-flow: row wrap;
    display: flex;
}

#app__head .ttl {
    padding-left: 18px;
}

#app__head .bar__title {
    width: 168px;
}

#app__head > .mnu {
    margin-left: auto;
}

#app__head .mnu li {
    flex-shrink: 0;
}

#app__body {
    display: flex;
    clear: both;
    max-width: 100%;
    flex: 1 0 auto;
}

#app__main {
    flex: 1 1 auto;
    background: #f8f7fa;
    position: relative;
    max-width: 100vw;
    overflow: hidden;
    padding-bottom: 62px;
}

#app__main .main {
    height: 100%;
}

#app__main .bar__title[href]:hover,
#app__main .bar__title[data-drop]:hover,
#app__main .bar__action:hover {
    background-color: #eee;
    border-radius: 2px;
}

#app__main .bar__title[data-drop] {
    cursor: pointer;
}

#app__main form {
    padding-bottom: 60px;
}

#app_foot {
    color: #40404e;
    font-size: 14px;
}

#app_foot .version {
    display: block;
    padding: 10px 20px;
}

#app > .bar:first-child::after {
    border-bottom: 1px solid #f8f7fa;
    bottom: 0;
    content: " ";
    display: block;
    left: 24px;
    position: absolute;
    right: 24px;
}

@media only screen and (max-width: 900px) {
    #app > .bar:first-child::after {
        display: none;
    }

    #app__head .ttl a {
        display: inline-block;
        white-space: nowrap;
    }
}

/* TODO: Delete this element from tpl files */
.app_menu_trigger {
    display: none !important;
}

.lead-name {
    font-size: 24px;
}

@media (max-width: 500px) {
    .lead-name {
        font-size: 16px;
        max-width: 85%;
    }

    .lead-details {
        margin-left: -16px;
        margin-right: -16px;
    }
}

/* CMS Pages */
.slides__item {
    padding: 8px 8px 16px;
    border: 1px solid #ccc;
    margin-bottom: 8px;
}

.slides__item a[data-item-update],
.slides__item a[data-item-delete] {
    position: relative;
    top: 6px;
}

@media (max-width: 680px) {
    .slides .btn {
        width: 100%;
    }

    .slides .btn:first-of-type {
        margin-bottom: 16px;
    }
}

/**
 * Prevent svg icons inisde <a> or <button> from registering click events.
 * This prevents the `classList` method errors that get logged in unsupporting browsers (IE11)
 * due to priorityNav.js plugin
 * TODO: Include classList.js as a solution to prevent these errors || modify priorityNav?
 */
a svg,
.btn svg {
    pointer-events: none;
}

/**
 * Scroll bar styles, allow action plan/main content to scroll instead of whole window
 * Placing here for quick adjustments
 * TODO: move to proper place once passes QA/final adjustments
 */
@media (min-width: 992px) {
    #app {
        width: 100%;
        position: fixed;

        &.flyout-open {
            width: calc(100% - 320px);
        }
    }
    #app__body {
        height: 100%;
    }
    #app__main {
        height: 100%;
        max-height: calc(100vh - 80px);
        overflow-y: scroll;
    }
}

.flyout-feed .action-plans {
    height: 100%;
    max-height: calc(100vh - 168px);
    overflow-y: scroll;
}

[v-cloak] {
    display: none;
}

html.flyout-open,
html.modal-open {
    overflow: hidden;
}

.ui-dialog-titlebar-close span {
    pointer-events: none;
}

.iframe-scroll {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.iframe-scroll form.rew_check {
    margin-bottom: 125px;
}