/*--------------------------------------------------------------------------------------------
Search Filter
---------------------------------------------------------------------------------------------*/
.module.nav {
    ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 30px;
        margin-top: 0!important;
    
        a {
            line-height: 1;
            padding: 15px;
            display: block;
            text-decoration: none;
        }
    
        li { display: block; }
    }
  
    h4 {
        text-transform: uppercase;
        font-weight: $font-weight-semi-bold;
        line-height: 1;
        padding: 15px;
        margin: 0;
    }
}

/*--------------------------------------------------------------------------------------------
Search Filter
---------------------------------------------------------------------------------------------*/

.search-filter-small {
    width: 100%;
    text-align: center;
    padding: 8px 0;
    font-weight: $font-weight-semi-bold;
    text-align: right;
}

.tpl-2col {
    @media only screen and (max-width: 480px) {
        .uk-container {
            padding: 0 10px;
            margin-top: 0px !important;
        }
    }

    @include bp-large {
        .fw-about-neighborhood {
            padding: 30px 10px;

            .uk-grid-large>* {
                padding-left: 0px;
            }

            .uk-grid-large {
                margin: 0px;
            }

            .nbh-avg-info span:first-child {
                font-size: 45px;
            }
        }
    }
}
