/*--------------------------------------------------------------------------------------------
DESIGNER NOTES:
IF THE HOMEPAGE SECTION IS A MODULE, 
THE CSS RELATED TO THAT SECTION IS STORED IN THE SCSS/MODULE FOLDER
---------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------
HOMEPAGE SLIDESHOW
/httpdocs/inc/skins/elite/scss/modules/_slideshow.scss
---------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------
HOMEPAGE FEATURED COMMUNITIES
/httpdocs/inc/skins/elite/scss/modules/_featured-communities.scss
---------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------
HOMEPAGE FEATURED AGENTS
/httpdocs/inc/skins/elite/scss/modules/_agents-feature.scss
---------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------
HOMEPAGE PROPERTY VALUATION
/httpdocs/inc/skins/elite/scss/modules/_property-valuation.scss
---------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------
HOMEPAGE TESTIMONIALS
/httpdocs/inc/skins/elite/scss/modules/_testimonials.scss
---------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------
HOMEPAGE BLOG ARTICLES
/httpdocs/inc/skins/elite/scss/modules/_blog-latest.scss
---------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------
HOMEPAGE CTA'S
---------------------------------------------------------------------------------------------*/
.cta-containers {
    margin: 10px 20px 20px;  

    @include bp-xsmall {
        margin: 7px 10px 0;
    }

    @include bp-small {
        margin: 20px 20px 0px;
    }     

    @include bp-medium {
        margin: 50px 20px 40px 20px;
    }      

    @include bp-large {
        margin: 50px 20px 40px 20px;
    }

    @include bp-xlarge {
        margin: 50px 20px 40px 20px;
    }  

    .cta-container {
        position: relative;
        padding-bottom: 50px;   

        .uk-icon {
            float: right;
            cursor: pointer;
        }        

        @include bp-xsmall {
            &.inactive {
                padding-bottom: 18px;

                .cta-container-inner {
                    display: none;
                }

                .uk-button {
                    display: none;
                }
            }
        }    

        @include bp-medium {
            &.inactive {
                padding-bottom: 50px;

                .cta-container-inner {
                    display: inline-block;
                }

                .uk-button {
                    display: inline-block;
                }
            }  
        }    

        h3 {
            text-transform: uppercase;      
            padding: 18px 18px 0;
            margin: 0;
            text-align: left;
            font-size: 24px;      

            @include bp-small {
                text-align: left;
                font-size: 24px;
                padding: 18px 18px 0;        
            } 

            @include bp-medium {
                text-align: center;
                font-size: 18px;
                padding: 18px 18px 0;
            }      

            @include bp-large {
                text-align: left;
                font-size: 28px;
                padding: 30px 25px 0;
            }

            @include bp-xlarge {
                text-align: left;
                font-size: 28px;
                padding: 60px 80px 0 80px;
            }     
        }        

        .cta-container-inner {
            padding: 18px 18px 0;      

            @include bp-xsmall {
                padding: 14px 18px;
            } 

            @include bp-small {
                padding: 14px 18px;
            }     

            @include bp-medium {
                padding: 14px 25px;
            }      

            @include bp-large {
                padding: 8px 40px 55px 28px;
            }

            @include bp-xlarge {
                padding: 0 90px 55px 80px;
            }      

            hr {
                border: 0;
                width: 50%;
                margin: 14px 0 18px; 
                padding: 0;         

                @include bp-xsmall {
                    margin: 0 0 18px; 
                }

                @include bp-small {
                    margin: 0 0 18px; 
                }

                @include bp-medium {
                    margin: 0 auto 18px; 
                }      

                @include bp-large {
                    margin: 14px 0 18px; 
                }

                @include bp-xlarge {
                    margin: 14px 0 18px; 
                }         
            }

            p {
                margin: 0;
                padding: 0;
                line-height: 26px;       

                @include bp-medium {
                    font-size: 14px; 
                    text-align: center;
                }      

                @include bp-large {
                    font-size: 18px; 
                    text-align: left;
                }

                @include bp-xlarge {
                    font-size: 18px;
                    text-align: left;
                }             
            }
        }

        .uk-button {
            font-weight: $font-weight-semi-bold;
            font-size: $base-h4-font-size-large;
            letter-spacing: 1px; 
            padding: 6px 12px; 
            white-space: nowrap;           

            @include bp-xsmall {
                font-size: $base-h4-font-size-large;
                padding: 6px 12px;
            }

            @include bp-medium {
                font-size: 14px;
                padding: 0 25px;
            }      

            @include bp-large {
                font-size: $base-h4-font-size-large;
                padding: 0 25px;
            }

            @include bp-xlarge {
                font-size: $base-h4-font-size-large;
                padding: 0 25px;
            }        
        }
    }
}

/*--------------------------------------------------------------------------------------------
HOMEPAGE COMPANY INFO
---------------------------------------------------------------------------------------------*/
.fw-comp-info {
    padding-top:30px;
    padding-bottom:30px;
    text-align: center;

    @include bp-large {
        padding-top:60px;
        padding-bottom:60px;
    }

    h5 {
        line-height: normal;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 30px;

        @include bp-xsmall {
            font-size: 30px;
        }

        @include bp-medium {
            font-size: 36px;
        }

        @include bp-large {
            font-size: 36px;
        }
    }

    p {
        display:block;

        @include bp-xsmall {
            font-size: 14px;
            line-height: 1.75em;
            margin: 0 5px 35px;
        }

        @include bp-small {
            font-size: 18px;
            line-height: 1.75em;
            margin:0 25px 35px;
        }

        @include bp-medium {
            font-size: 18px;
            line-height: 1.75em;
            margin:0 100px 35px;
        }

        &:after {
            content: "";
            display: block;
            margin:0 auto;
            padding-bottom: 35px;

            @include bp-xsmall {
                width: 80%;
            }

            @include bp-small {
                width: 25%;
            }
        }
    }

    .comp-info-links {
        width:100%;
        text-align: center;

        a {
            display: block;
            padding: 0 0 15px;
            font-size: 18px;
            text-transform: uppercase;

            @include bp-small {
                display:inline-block;
                float:left;
                width:33.3%;
            }

            @include bp-large {
                display:inline-block;
                float:none;
                width:20%;
            }
        }
    }
}
