/*--------------------------------------------------------------------------------------------
	REW ASHLEY J - FEB/28/2017 - Blue-White Colour Scheme

	Brand colour variables are set in the scheme's config.scss file.
	Helper UI-colors (anything that starts with $base-) can be found in elite/scss/inc/__variables.scss

	This file is for specific adjustments across the site.
---------------------------------------------------------------------------------------------*/


/* --------------------------------------

	TABLE OF CONTENTS
	====================
	0. Globals
	1. Header
	2. Header Navigation
	3. Header Navigation - Off Canvas
	4. Footer
	5. Dashboard Slideout
	6. Homepage
	7. Community Pages
	8. Sidebar
	9. IDX Results
	10. IDX Advanced Search
	11. IDX Results Map
	12. IDX Details

----------------------------------------- */

/* ---------------------
	0. Globals
------------------------ */

body {
    color: #444444;
}

#rew-back2top {
    background-color: $color-secondary;
    color: $base-white;
}

.uk-link, a { color: $color-secondary; }

.uk-subnav > .uk-active > *,
.uk-subnav > * > *:focus,
.uk-subnav > * > *:hover {
    color: $color-secondary;
}

.uk-subnav-pill > .uk-active > * {
    background-color: $color-secondary;
    color: $base-white;
}

.uk-button,
.uk-button-primary {
    background-color: $color-secondary;
    color: $color-accent-primary;
    font-weight: 400;

    &:hover {
        transition: all 0.3s ease 0s;
        color: $color-accent-primary;
        background-color: $secondary-light;
    }

    &.uk-button-secondary {
        background-color: $base-white;
        color: $color-secondary;
        border: 1px solid $color-secondary;

        &:hover {
            background-color: $color-secondary;
            color: $color-accent-primary;
        }
    }

    &.js-advanced-search-trigger { font-weight: 400; }

    &.uk-button-tertiary {
        background-color: $base-gray;
        color: $base-black;
        border: 1px solid $base-gray;
        font-weight: 400;

        &:hover {
            background-color: lighten($base-gray, 3%);
            color: $base-black;
        }
    }

    &.uk-button-idx-toolbar {
        background-color: transparent;
        color: $base-gray;

        &:hover { color: $base-black; }
    }

    &.uk-button-blank {
        background-color: transparent;
        color: $color-primary;
        border: 1px solid $color-primary;

        &:hover { color: $base-black; }
    }
} // end .uk-button

form.submitting .uk-button:hover {
    background-color: $secondary-light;
    color: $color-accent-primary;
}

.uk-alert {
    background-color: $base-gray;
    color: $base-black;
}

.uk-text-muted {
    color: $secondary-light;
}

.uk-modal-footer .uk-button {
    background: $color-secondary;
}

.idx-data .uk-modal .uk-modal-dialog-lightbox a.uk-close {
    color: $base-black !important;
}

.pod-radio-cta {
    color: $base-white;

    h2 { color: $base-white; }
}

// Placeholder Styles
::-webkit-input-placeholder {
    color: darken($base-gray-drk, 10%);
}

::-moz-placeholder {
    color: darken($base-gray-drk, 10%);
}

:-ms-input-placeholder {
    color: darken($base-gray-drk, 10%);
}

:-moz-placeholder {
    color: darken($base-gray-drk, 10%);
}


/* ---------------------
	1. Header
------------------------ */

.fw-header {
    background-color: $base-white;

    .uk-form * {
        ::-webkit-input-placeholder {
            color: rgba($base-black, 0.8);
        }

        ::-moz-placeholder {
            color: rgba($base-black, 0.8);
        }

        :-ms-input-placeholder {
            color: rgba($base-black, 0.8);
        }

        :-moz-placeholder {
            color: rgba($base-black, 0.8);
        }
    }
}

.fw-header .header-login a,
.header-search a.search-filter {
    color: $color-primary;

    &:hover { color: $color-primary; }
}

.fw-header .header-login a.login {
    border-right: 1px solid $base-gray-drk;
}

.header-search {
    input {
        border: 0 !important;
    }

    input,
    select,
    .idx-price span.label {
        background-color: rgba($color-secondary, 0.1) !important;
        color: $base-black;
    }

    .idx-price span.label {
        color: rgba($base-black, 0.8);
        border-left: 1px solid $base-white;
    }

    button {
        background-color: $color-secondary;
    }

    .idx-price .wrapper {
        background-color: $base-white;
        border: 1px solid $base-gray;

        select { background-color: $base-white !important; }

        .range span.tween { color: $base-black; }
    }
}


/* ---------------------
	2. Header Navigation
------------------------ */

.fw-header-nav {
    background-color: $color-secondary;

    .uk-icon-bars {
        color: $base-white;
    }
}

.fw-header-nav .header-phone {
    color: $base-white;
    font-weight: 400;
}

.fw-header-nav .uk-icon-mobile {
    color: $base-white;
}

.uk-navbar-nav > li > a {
    color: $base-white;
}

.uk-nav-dropdown a {
    color: $base-white;
}

.uk-navbar-nav > li:hover > a,
.uk-navbar-nav > li.uk-open > a,
.uk-dropdown-navbar,
.uk-dropdown-navbar li a {
    background-color: darken($color-secondary, 5%);
    color: $base-white;
}

.uk-nav-dropdown a {
    color: $base-white;
}

.uk-nav-dropdown > li > a:focus,
.uk-nav-dropdown > li > a:hover {
    background-color: darken($color-secondary, 15%);
    color: $base-white;
}

.mobile-advanced-search-bar {
    background-color: darken($color-secondary, 5%);
}

.mobile-advanced-search-bar a.search-filter {
    color: $color-accent-primary;
}



/* --------------------------------------
	3. Header Navigation - Off Canvas
----------------------------------------- */

.uk-offcanvas.uk-active {
    background-color: rgba($base-black, 0.2);
}

.uk-offcanvas-bar {
    background-color: darken($color-secondary, 15%);
}

.uk-nav-offcanvas a {
    border-bottom: 1px solid darken($color-secondary, 20%);
    color: $base-white !important;

    &:hover { background-color: darken($color-secondary, 10%); }
}

.uk-nav-sub > li > a {
    background-color: darken($color-secondary, 10%);

    &:hover { background-color: darken($color-secondary, 10%); }
}

.uk-nav-offcanvas > .uk-open > a,
html:not(.uk-touch) .uk-nav-offcanvas > li > a:hover,
html:not(.uk-touch) .uk-nav-offcanvas > li > a:focus {
    background-color: darken($color-secondary, 10%);
}



/* ---------------------
	4. Footer
------------------------ */

.fw-footer {
    background-color: $color-primary;

    .toggle-container .uk-icon { color: $base-white; }

    hr.uk-grid-divider:empty { border-color: rgba($base-white, 0.5); }
}

.footer-login {

    p { color: $base-white; }

    .btn {
        border: 1px solid $base-white;
        background-color: transparent;
        color: $base-white;

        &:hover { background-color: rgba($base-white, 0.1); }
    }
}

.footer-links {
    color: $base-white;

    h5, a { color: $base-white; }
}

.fw-copyright {
    background-color: $color-secondary;
    color: $base-white;
    border-top: 1px solid rgba($base-white, 0.5);
    padding: 20px 0;

    a, span, .rewcall { color: $base-white; }

    .copyright { margin-top: 8px; }
}



/* --------------------------
	5. Dashboard Slideout
----------------------------- */

#sm-slideout {
    background-color: rgba($base-black, 0.2);
}

#sm-slideout-wrap {
    background-color: $base-white;

    h3 { border-bottom: 1px solid $color-secondary; }

    ul li:hover { background-color: $base-gray; }

    ul li a {
        color: $base-black;

        &:hover { color: $base-black; }
    }

    ul.sign-in .btn {
        color: $color-accent-primary;
    }
}



/* --------------------------
	6. Homepage
----------------------------- */


// Homepage Slideshow
.homepage-slideshow {
    h1, span {
        color: $base-white;
        text-shadow: 0 0 3px $base-black;
    }
}


// Homepage Square CTAs
.cta-containers .cta-container {
    background-color: $color-secondary;

    h3, p,
    .uk-icon {
        color: $base-white;
    }

    hr { border-top: 1px solid $base-white !important; }

    .uk-button {
        background-color: $color-primary;

        &:hover { background-color: darken($color-primary, 5%); }
    }
}


// Homepage Feature Communities
.featured-communities {

    .featured-communities-title-box { background-color: $color-primary; }

    .featured-communities-title h3,
    .featured-communities-title a {
        color: $base-white;
    }

    .featured-communities-overlay { background-color: $base-black; }

    a.featured-community-title {
        color: $base-white;
        border: 1px solid transparent;
    }

    .featured-community-box:hover a.featured-community-title {
        background-color: rgba($base-black, 0.5);
        border: 1px solid $base-white;
    }
}


// Homepage About Us Section
.fw-comp-info {
    background-color: $base-gray;

    h5 { color: $base-black; }

    p:after { border-bottom: solid 2px $base-black; }

    .comp-info-links a { color: $color-secondary; }
}


// Homepage Property Valuation CTA
.home-valuation-section {
    .home-valuation-title h5,
    .home-valuation-title span {
        color: $base-white;
    }

    input, select {
        background-color: $base-white;
        color: $base-black;
    }
}

.cma-property-valuation {
    .cma-estimate-average {
        background-color: $base-white;
        border-right: 1px solid $color-secondary;
        color: $color-secondary;
    }

    .cma-estimate-minimum {
        border-right: 1px solid $base-gray;
    }
}


// Homepage Feature Agents
.fw-featured-agents {
    .fa-inner-container,
    .agent-info-container {
        background-color: $color-secondary;
    }

    .agent-info-container {
        @include bp-large { border-top: 1px solid $base-white; }

        h5, .agent-social-media {
            color: $base-white;
        }

        .agent-social-media {
            .uk-icon-button {
                background-color: $secondary-light;
                color: $base-white;

                &:hover {
                    background-color: $base-white;
                    color: $color-secondary;
                }
            }
        }
    }
}


// Homepage Feature Testimonials
.fw-home-testimonial {
    h5,
    .h-testimonial-slider a {
        color: $base-white;
    }

    .h-testimonial-box {
        background-color: rgba($base-black, 0.8);
        color: $base-white;
    }

    .h-testimonial-slider .testimonial {
        @include bp-small { border-left:1px solid $base-white; }
    }

    .slick-dots li {
        border: 2px solid $base-white;
        background-color: $base-black;

        &:hover { background-color: $color-secondary; }
    }
}


// Homepage Recent Blogs
.fw-home-blog {
    background-color: $base-gray;

    .home-post {
        border-bottom: 3px solid $base-black;

        span.blog-tag {
            color: $base-white;
            background-color: $base-black;
        }

        &.post-title a { color: $base-black; }
    }

    .post-container {
        &:nth-child(odd) .home-post {
            background-color: $base-white;

            span {
                color: $base-black;

                &.blog-title { color: $base-black; }
                &.blog-tag { color: $base-black; }
            }

            a { color: $color-secondary; }
        }

        &:nth-child(even) .home-post {
            background-color: $color-secondary;
            color: $base-white;

            span {
                color: $base-white;

                &.blog-title { color: $base-white; }
            }

            a { color: $color-accent-primary; }
        }
    }
}



/* --------------------------
	7. Community Pages
----------------------------- */

// Community Results Page
.community-result {
    background-color: $base-gray;
    border-bottom: 2px solid $base-black;

    .community-result-title { color: $base-white; }

    &:hover .community-result-title {
        background-color: rgba($base-black, 0.5);
        border: 1px solid $base-white;
    }
}

.community-container-outer {
    background-color: $base-gray;
    border-bottom: 3px solid $base-black;
}

.community-container-content a:hover { color: $base-black; }

.community-container-inner {

    .community-overlay { background-color: $base-black; }

    a.community-title { color: $base-white; }

    &:hover {
        a.community-title {
            background-color: rgba($base-black, 0.5);
            border: 1px solid $base-white;
        }
    }
}


// not sure where this section is!
.community-valuation-section {
    .community-valuation-container {
        color: $base-white;
        background: rgba($base-black, 0.75);

        h5 { color: $base-white; }

        form {
            input, select {
                background-color: $color-secondary;
                color: $base-gray;
            }
        }
    }
}


// Neighborhood Slideshow
.fw-nbh-slideshow {

    .slide-txt { border-bottom: 4px solid $base-black; }

    h1, span {
        color: $base-white;
        text-shadow: 0 0 3px $base-black;
    }

    .btn {
        background-color: $base-white;
        color: $base-black;
    }

    .photo-gallery-btn {
        background-color: $color-primary;
        color: $base-white;
    }
}

.fw-nbh-slideshow .idx-details-gallery-button {
    background-color: $base-black;
    color: $base-white;
}


// Neighborhood About
.fw-about-neighborhood {
    background-color: $base-gray;

    h3 span { color: $color-secondary; }

    .nbh-avg-info {
        border: 1px solid $base-gray-drk;
        background-color: $base-white;

        span {
            &:first-child { color: $color-secondary; }
            &:last-child { color: $base-black; }
        }
    }
}


// Nearby Neighborhoods
.fw-nbh-neighbors {
    background-color: $base-gray;

    .similar-nbh ul li a {
        font-weight: 400;
        color: $color-secondary;
        border-top: 1px solid $base-gray-drk;

        &:hover { color: $color-secondary; }
    }
}


// Thinking of Selling CTA
.fw-nbh-selling {
    .nbh-selling-container {
        background-color: rgba($base-black, 0.7);

        .uk-form {
            input, select {
                background-color: $color-secondary;
                color: $base-gray;
            }
        }
    }
}


// Neighborhood Recent Blogs
.fw-nbh-blog,
.fw-nbh-neighbors + .fw-home-blog {
    background-color: $base-white;
    padding-bottom: 10px;

    .home-post,
    .nbh-post {
        border-bottom: 3px solid $base-black;

        span.blog-tag {
            color: $base-white;
            background-color: $base-black;
        }

        &.post-title a { color: $base-black; }
    }

    .post-container {
        &:nth-child(odd) .home-post {
            background-color: $base-white;
            border: 1px solid darken($base-gray, 5%);

            span {
                color: $base-black;

                &.blog-title { color: $base-black; }
                &.blog-tag { color: $base-black; }
            }

            a { color: $color-secondary; }
        }

        &:not(:first-child):nth-child(odd) .home-post {
            border-bottom: 3px solid $base-black;
        }

        &:nth-child(even) .home-post {
            background-color: $color-secondary;
            color: $base-white;

            span {
                color: $base-white;

                &.blog-title { color: $base-white; }
            }

            a { color: $color-accent-primary; }
        }
    }
}



/* --------------------------
	8. Sidebar
----------------------------- */

.blog-nav,
.module.nav {
    background-color: $base-white;
    border: 1px solid $base-gray;
    margin-bottom: 30px;

    .uk-nav-header, header {
        background-color: $color-secondary;
        color: $base-white;

        h4 { color: $base-white; }
    }

    > li {
        border-bottom: 1px solid $base-gray;

        &:last-of-type { border-bottom: 0; }
    }

    a {
        color: $base-black;

        &:hover { background-color: $base-gray; }
    }

    li.uk-active > a,
    li.current > a { background-color: $base-gray; }

    .uk-nav-side > li.uk-active> a,
    .uk-nav ul .uk-active {
        background-color: $color-secondary;
        color: $base-white;

        &:hover { background-color: $secondary-light; }
    }

    ul { margin-bottom: 0; }

    ul li {
        border-top: 1px solid $base-gray;
        border-bottom: 0;
    }
}

.search-filter-small { color: $base-white; }



/* --------------------------
	9. IDX Results
----------------------------- */

.mls-disclaimer p { color: darken($base-gray-drk, 10%); }


// IDX Toolbar - Mobile
.toolbar-mobile {
    border: 1px solid $base-gray;

    .uk-button {
        color: lighten($base-black, 25%);

        &.selected {
            color: $color-secondary;

            &:hover { color: $secondary-light; }
        }

        &.uk-button-dark-grey {
            color: lighten($base-black, 25%);

            i { color: lighten($base-black, 25%); }

            &:hover {
                color: $color-secondary;

                i { color: $color-secondary; }
            }
        }

        &:hover { color: $base-black; }
    }
}


// IDX Toolbar - Desktop
.toolbar {
    border: 1px solid $base-gray;

    .uk-nav-dropdown > li > a:hover { background: $base-gray-drk; }

    .uk-button {
        color: lighten($base-black, 25%);
        border-right: 1px solid $base-gray;

        &:hover { color: $color-secondary; }

        &.selected {
            color: $color-secondary;

            &:hover { color: $secondary-light; }
        }

        &.uk-button-dark-grey {
            color: lighten($base-black, 25%);

            i { color: lighten($base-black, 25%); }

            &:hover {
                color: $color-secondary;

                i { color: $color-secondary; }
            }
        }
    }

    .item-active { color: $base-black; }

    .toolbar-pagination .uk-button {
        color: lighten($base-black, 25%);
        border-right: 0;
        border-left: 1px solid $base-gray;

        &:hover { color: $color-secondary; }
    }
}


// IDX Results Thumbnails
.idx-data,
.snippet-results {
    .idx-listings-status {
        background-color: $base-black;
        color: $base-white;
    }

    .idx-listings-caption {
        background-color: rgba($base-black, 0.95);
        color: $base-white;

        @include link-state($base-gray, $base-gray, $base-white, $base-white);
    }
}


.idx-data .idx-listings,
.snippet-results .idx-listings {
    .idx-listings-wrapper {
        background-color: $base-gray;
        border-bottom: 3px solid $base-black;

        .uk-panel-teaser { background-color: $base-white; }

        .idx-default {
            color: $base-black;

            h4 { color: $base-black; }

            .idx-listings-stats,
            .idx-listings-description,
            .idx-listings-area {
                color: $base-black;

                @include link-state($base-black, $base-black, $color-secondary, $color-secondary);
            }
        }

        &.selected {
            background-color: $color-secondary;
            color: $base-white;

            h4 { color: $base-white; }

            .idx-listings-stats,
            .idx-listings-description,
            .idx-listings-area {
                color: $base-white;

                @include link-state($base-white, $base-white, $base-white, $base-white);
            }

            .mediaProvider .office { color: $base-white; }
        }
    }
}


// IDX Pagination
.idx-listings-pagination-bottom {
    border: 1px solid $base-gray;

    .uk-button-group {
        background-color: $base-white;
        color: $base-gray;

        .uk-button {
            background-color: $base-white;
            color: $base-black;

            &#previous { border-right: 1px solid $base-gray; }
            &#next { border-left: 1px solid $base-gray; }

            &:hover { color: $color-secondary; }
        }
    }
}




/* --------------------------
	10. IDX Advanced Search
----------------------------- */

.adv-search-panel {
    background-color: $base-gray;

    h4 { color: $base-black; }

    .accent { color: $color-secondary; }

    + .uk-button {
        font-weight: 600;
        color: $base-white;
    }
}

.feed-switcher {

    h4 { color: $base-black; }

    a { color: $color-secondary; }
}

.adv-save-message {
    background-color: rgba($color-secondary, 0.2);
    padding: 10px;
}

.fw-idx-filter {
    background-color: lighten($base-gray, 5%);
    border-bottom: 1px solid $base-gray-drk;

    &:before {
        border: 10px solid transparent;
        border-bottom: 10px solid lighten($base-gray, 5%);
    }

    .close-filter a.search-toggle { color: $base-black; }

    #sub-quicksearch {
        .idx-filter-col {
            @include bp-medium { border-bottom: 1px solid $base-gray-drk; }
        }

        .idx-filter-col h4 > a { color: $base-black; }

        .fw-panel > div { background-color: $base-white; }

        .filter-saves {
            .save {
                color: $base-black;

                > span {
                    background-color: $color-secondary;
                    color: $base-white;
                    font-weight: 600;
                }
            }

            .save-search {
                border: 1px solid $base-gray-drk;
                color: lighten($base-black, 10%);
                font-weight: 600;

                &:hover {
                    border: 1px solid $color-secondary;
                    background-color: $color-secondary;
                    color: $base-white;
                }
            }
        }

        .bottom-grid .filter-tags {
            background-color: $base-gray;
            color: $base-white;

            h4 {
                color: $base-black;
                text-decoration: underline;
                min-height: 31px;
                padding: 0 12px;
                margin-top: 1px;
                margin-right: 5px;
            }

            .tags a,
            .idx-filters .uk-button {
                background-color: $color-secondary;
                color: $base-white;
            }
        }
    }
}

/* --------------------------
	11. IDX Results Map
----------------------------- */

.map-tooltip .popover {
    background-color: $base-white;
    border: 1px solid $base-gray;

    &.stacked { border: 1px solid $base-gray; }
}

#idx-map-legend .legend-content {
    background-color: $base-white;
    border: 1px solid $base-gray-drk;
}



/* --------------------------
	12. IDX Details
----------------------------- */


// Slideshow Gallery
.idx-details-gallery-container {
    background-color: $base-black;
    border-bottom: 5px solid $base-black;

    .idx-details-gallery-button {
        background-color: $base-black;
        color: $base-white;

        &:hover { color: $base-white; }
    }
}


// Gallery Popup
.idx-details-gallery-viewall {
    z-index: 9999999999; // to overlay sticky header if it exists

    .idx-details-gallery-overlay { background-color: $base-black; }

    .idx-details-gallery-overlay-inner {

        h3, .idx-details-gallery-overlay-close { color: $base-white; }
    }

    .idx-details-gallery-overlay-thumb { border: 1px solid $base-black; }

    .uk-slidenav { color: rgba($base-white, 0.8); }
}

.photos-popup .slick-dots li {
    border: 2px solid $base-white;
    background-color: $base-black;

    &.slick-active,
    &:hover {
        background-color: $color-secondary;
    }
}


// Listing Address & Buttons
.fw-idx-details-toolbar {
    background-color: lighten($base-gray, 5%);
    border-bottom: 1px solid $base-gray;

    @media only screen and (min-width:1450px) { background-color: $base-white; }

    .toolbar-content { background-color: $base-white; }

    .toolbar-left a,
    .toolbar-right a {
        color: lighten($base-black, 10%);

        span { font-weight: 400; }

        @media only screen and (max-width: 350px) {
            img { display: none; } // hide icon images b/c it breaks the layout on very small mobile
        }

        @media only screen and (min-width:1450px) { color: $base-gray; }
    }
}


// Property Details
.fw-idx-details-desc {
    .idx-deets-extras a {
        border-right: 1px solid $base-gray;
        border-bottom: 1px solid $base-gray;

        &:nth-child(even) { border-right-color:transparent; }

        &:nth-last-of-type(2),
        &:nth-last-of-type(1) {
            border-bottom: none;
        }

        &:nth-child(1),
        &:nth-child(2) {
            border-top: 1px solid $base-gray;

            @include bp-medium { border-top: none; }
        }
    }

    .idx-deets-extras > span {
        color: $base-gray-drk;
        border-right: 1px solid $base-gray;
        border-bottom: 1px solid $base-gray;
    }
}

.property-summary {
    color: $color-secondary;
}


// Essential Information Tables
.fw-idx-details.fw-idx-listing-groups {
    background-color: $base-gray;

    .uk-grid.listing-detail-group {
        padding-left: 0;

        &:nth-child(even) { background-color: lighten($base-gray, 5%); }

        &.group-school_information li span {
            border-top: 1px solid rgba($base-black, 0.2);
        }
    }

    h2 small {
        color: $color-secondary;

        @include bp-xlarge { color: $base-black; }
    }

    .listing-group-toggle { color: $color-secondary; }

    .listing-group-li {
        border-top: 1px solid rgba($base-black, 0.2);

        &:nth-child(1) { border-top: 0; }

        @include bp-medium {
            &:nth-child(1),
            &:nth-child(2) {
                border-top: 0;
            }
        }

        @include bp-large {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                border-top: 0;
            }
        }
    }
}


// Similar Listings
.fw-idx-similar-listings.fw-idx-details {
    background-color: $base-white;

    h2 {
        color: $color-secondary;

        @include bp-xlarge { color: $base-black; }
    }
}
