:root {
    --filter-flyout-background-color: #fff;
    --filter-flyout-width: 320px;
}

.icon--close {
    transform: scale(1);
}

.flyout-filter {
    background-color: var(--filter-flyout-background-color);
    max-width: var(--filter-flyout-width);
    min-width: var(--filter-flyout-width);
    width: var(--filter-flyout-width);
    position: fixed;
    z-index: 1040;
    bottom: 0;
    right: 0;
    top: 0;
    transition: transform 210ms;
    transform: translate3d(100%, 0, 0);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow-y: scroll;

    @media (max-width: 500px) {
        width: 100%;
        min-width: 100%;
    }

    &.-is-flyout-open {
        transform: none;
    }
    .close {
        color: $black;
        position: absolute;
        right: .5rem;
        top: 2.3125rem;
    }

    .wrap {
        &,
        .overlay {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            top: 0;
        }

        /deep/ .loader {
            transform: translate(50%, 50%);
            position: absolute;
            bottom: 50%;
            right: 50%;
        }
    }

    &-title {
        font-weight: 700;
        line-height: 1.5;
        padding: 1.5rem;
    }

    &-shadow {
        box-shadow: inset 2px 0 3px 0 transparentize($gray-600, .8);
        pointer-events: none;
        position: absolute;
        z-index: 1000;
        width: 3px;
        bottom: 0;
        left: 0;
        top: 0;

        @include media-breakpoint-down(md) {
            @include shadow(4);
            width: 100%;
        }
    }

    &-section div {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.flyout-header {
    padding-left: 1rem;
    padding-right: 1rem;
}

.flyout-content {
    height: 100vh;
    padding: 1rem;
    margin-bottom: 8px;
    min-height: calc(100vh - 200px);
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .dropdown-wrap {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .flyout-content {
        min-height: calc(100vh - 265px);
        max-height: calc(100vh - 265px);
    }
}

@supports(-webkit-overflow-scrolling: touch) {
    @media (max-height: 820px) {
        .flyout-content {
            min-height: calc(100vh - 240px);
            max-height: calc(100vh - 240px);
        }
    }

    @media (orientation: landscape) {
        .flyout-content {
            min-height: calc(100vh - 150px);
            max-height: calc(100vh - 150px);
        }
    }
}

.flyout-footer {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

.update--btn {
    width: 100%;
}

.flyout-cta-text {
    font-size: 16px;
    vertical-align: middle;
    text-shadow: 0 1px 0 rgba(#222, 0.35%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

.flyout-cta-fade {
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    z-index: 1005;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 35px;
    background: linear-gradient(rgba(255, 255, 255, 0.65), #fff);
}

input {
    width: 100%;
    padding: 6px;
}

/* Resets */

/deep/ {
    .field {
        padding-top: 0;
        padding-bottom: 0;
    }

    .field__label {
        font-size: 16px;
    }

    .input,
    select,
    .selectize-input {
        padding: 6px;
    }

    .selectize-input {
        max-height: 69px;
        overflow: auto;
        background-size: 16px 16px;
        background-position: right 10px center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='5 9.21 11 9.21 8 12 5 9.21'/%3E%3Cpolygon points='11 6.79 5 6.79 8 4 11 6.79'/%3E%3C/svg%3E");
    }

    .ui-slider-horizontal {
        margin-left: 9px;
        margin-right: 9px;
    }

    .ui-slider-range,
    .ui-state-active {
        background: $primary;
        border-color: $primary;
    }
}

.-mar-bottom {
    margin-bottom: 12px;
}

.-pad-bottom-xl {
    padding-bottom: 180px !important;
}

.flyout-filter form {
    padding-bottom: 0 !important;
}
