// UIKIT Utility vars
$utility-container-max-width:                    980px !default;
$utility-container-padding-horizontal:           25px !default;

$utility-container-large-max-width:              1200px !default;
$utility-container-large-padding-horizontal:     35px !default;

@import 'inc/variables';
@import 'inc/mixins';

// CORE UIKIT - VARS
@import "~uikit/dist/scss/uikit-mixins";
@import "~uikit/dist/scss/core/variables.scss";

// CORE UIKIT - Defaults
@import "~uikit/dist/scss/core/base.scss";

// CORE UIKIT - Layout
@import "~uikit/dist/scss/core/grid.scss";

// CORE UIKIT - Navs
@import "~uikit/dist/scss/core/navbar.scss";

// CORE UIKIT - Common
@import "~uikit/dist/scss/core/dropdown.scss";
@import "~uikit/dist/scss/core/button.scss";

// UIKIT UTILITY CLASSES
.uk-offcanvas {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    touch-action: none;
    background: rgba(0,0,0,0.1);

    @include hook-offcanvas();
}

.uk-offcanvas.uk-active { display: block; }

.uk-container {
    box-sizing: border-box;
    max-width: $utility-container-max-width;
    padding: 0 $utility-container-padding-horizontal;

    @include hook-container();
}

/* Large screen and bigger */
@media (min-width: $breakpoint-xlarge) {
    .uk-container {
        max-width: $utility-container-large-max-width;
        padding: 0 $utility-container-large-padding-horizontal;
    }

}

.uk-container:before,
.uk-container:after {
    content: "";
    display: table;
}

.uk-container:after { clear: both; }

.uk-container-center {
    margin-left: auto;
    margin-right: auto;
}

.uk-clearfix:before {
    content: "";
    display: table-cell;
}

.uk-clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.uk-position-absolute,
[class*='uk-position-top'],
[class*='uk-position-bottom'] { position: absolute !important; }

.uk-position-top {
    top: 0;
    left: 0;
    right: 0;
}

.uk-position-bottom {
    bottom: 0;
    left: 0;
    right: 0;
}

.uk-position-top-left {
    top: 0;
    left: 0;
}

.uk-position-top-right {
    top: 0;
    right: 0;
}

.uk-position-bottom-left {
    bottom: 0;
    left: 0;
}

.uk-position-bottom-right {
    bottom: 0;
    right: 0;
}
.uk-position-relative { position: relative !important; }

.uk-float-left { float: left; }
.uk-float-right { float: right; }
[class*='uk-float-'] { max-width: 100%; }

@media (min-width: $breakpoint-large) {

    .uk-visible-small { display: none !important; }
    .uk-visible-medium { display: none !important; }
    .uk-hidden-large { display: none !important; }

}

/* Tablets portrait */
@media (min-width: $breakpoint-medium) and (max-width: $breakpoint-medium-max) {

    .uk-visible-small { display: none !important; }
    .uk-visible-large { display: none !important ; }
    .uk-hidden-medium { display: none !important; }

}

/* Phone landscape and smaller*/
@media (max-width: $breakpoint-small-max) {

    .uk-visible-medium { display: none !important; }
    .uk-visible-large { display: none !important; }
    .uk-hidden-small { display: none !important; }

}

.uk-hidden {
    display: none !important;
    visibility: hidden !important;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

// TYPE FORMS BUTTONS
@import "base/typography";
@import "base/buttons";

// LAYOUT OVERRIDES
@import "layout/header";
@import "layout/navigation";
@import "layout/xlarge-container";

// SLIDESHOW
@import 'modules/slideshow';

// IDX
@import "idx/search_header";
@import "modules/details_slideshow";

// HOMEPAGE
@import "pages/homepage";

// COLOR SCHEME
@import "inc/scheme_loader";

// ADJUSTMENTS
.uk-icon-angle-up {
    display: none;
}

.toolbar .uk-button-group .uk-button {
    background: none;
}

.js-advanced-search-trigger .ion-ios-plus-empty {
    display: none;
}

.idx-data .idx-listings-list .uk-panel-teaser {
    min-height: 290px;
}

#idx-details-gallery {
    min-height: 580px;

    @media (max-device-width: 768px) {
        min-height: 250px;
    }

    @media (max-device-width: 480px) {
        min-height: 250px;
    }

    > div:first-child {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 580px;
        margin: 0px auto;

        @media (max-device-width: 768px) {
            min-height: 520px;
        }

        @media (max-device-width: 480px) {
            min-height: 250px;
        }
    }
}