[data-uploader] {
    position: relative;
}

.qq-uploader {
    position: static !important;
    display: block !important;
}

.qq-upload-drop-area,
.qq-upload-drop-area-active {
    background: transparent !important;
}

