$color-primary 			: 	#152f54 				!default; 	// Dark Blue	
$color-secondary		: 	#447cc9 				!default; 	// Light Blue
$secondary-light 		: 	lighten(#447cc9, 5%) 	!default;	// Lighten Secondary Colour
$color-accent-primary 	: 	#ffffff 				!default; 	// White
$color-accent-secondary :	#fab840					!default;	// Gold

$base-link-color: $color-secondary 			!default;
$base-link-hover-color: $secondary-light 	!default;