@mixin shadow($depth) {
  @if map-has-key($shadows, $depth) {
    box-shadow: #{map-get($shadows, $depth)};
  }
}

@each $index, $shadow in $shadows {
  .shadow-#{$index} {
    box-shadow: $shadow;
  }
}

@mixin focus-shadow($color: $primary) {
  box-shadow: 0 0 0 .2rem transparentize($color, .7);
}

.-is-focus-bordered {
  @include focus-shadow();
}