.btn,
.button {
    padding: 9px 14px;
    background: #edecef;
    color: #60606d;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    font: 16px/24px Lato, sans-serif;
    overflow: hidden;
    position: relative;
    transition: all .5s;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    border-bottom-color: #c1c1c9;
    display: inline-block;
    transition: all ease-in .33s;
}

.button:hover {
    color: #41404e;
    fill: #41404e;
}

button.button:focus {
    outline: 0;
}

/* icons are too big? may need to fix */

.btn .icon,
.button .icon {
    margin-top: -4px;
    margin-bottom: -4px;
}

.btn--strong,
.button--strong {
    background-color: #0096d8;
    border-color: #0096d8;
    border-bottom-color: #177fb3;
    color: #fff;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.button--bordered {
    background: transparent;
    border: 1px solid #d8d7e0;
}

.button--bordered.-is-current {
    background: rgba(0, 0, 0, .8);
    border-top-color: rgba(0, 0, 0, .1);
}

.btn--strong:hover,
.button--strong:hover {
    color: #fff;
    background-color: #00a1e8;
    border-color: #00a1e8;
    border-bottom-color: #177fb3;
}

.btn--positive {
    background-color: #35d57e;
    border-color: #35d57e;
    border-bottom-color: #19a559;
    color: #fff;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn--negative {
    background-color: #f4514c;
    color: #fff;
    border-color: #f4514c;
    border-bottom-color: #d63a36;
    font-weight: bold;
}

.btn--ghost,
.button--ghost {
    padding: 7px 15px;
    background: transparent;
    color: #40404e;
    box-shadow: none;
    border: 1px solid transparent;
}

.btn--ghost:not([disabled]):hover {
    background-color: #f8f7fa;
    color: #333;
}

.btn--positive .icon,
.btn--negative .icon,
.btn--strong .icon {
    fill: #fff;
}

.btn--compact {
    padding: 9px;
}

.btn--mini {
    padding: 4px 9px;
}

.btn.active {
    background-color: #dedde5;
}

.btn[disabled] {
    cursor: default;
    opacity: 0.33;
}

/* TODO: Review .ico use cases; should be .icon */
.btn--ico,
.btn--ico:hover {
    padding: 10px 0;
    border: none;
}

.btn--ico:hover .icon {
    fill: #51515d;
}

.btn .ico {
    vertical-align: middle;
    position: relative;
}

.btn img {
    margin: -3px;
    position: relative;
}

.btn.SM {
    font-size: 13px;
    padding: 1px 9px;
}

.btns .btns {
    float: left;
    position: relative;
    z-index: 99;
}

.btns::after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.btns > * {
    margin: 0 3px;
}

.btns > *:first-child:not(.col) {
    margin-left: 0;
}

.btns > *:last-child {
    margin-right: 0;
}

.btns--stickyB {
    position: fixed;
    padding: 24px;
    bottom: 0%;
    left: 0;
    right: 0;
    z-index: 999;
    background: linear-gradient(rgba(247, 247, 247, 0), rgba(247, 247, 247, 1));
    pointer-events: none;
}

.btns--stickyB .btn {
    pointer-events: all;
    font-weight: bold;
}

.btns--stickyB .btn .icon {
    margin-left: -10px;
    margin-right: -4px;
}

.btns--add-new {
    padding: 0 24px 24px;
    width: 100%;
    float: left;
}

.btns--add-new .btn {
    font-weight: bold;
}

.btns--compact {
    float: left;
}

.btns--compact .btn {
    border-radius: 0;
    margin: 0;
}

.btns--compact .btn:first-child {
    border-radius: 2px 0 0 2px;
}

.btns--compact > *:last-child {
    border-radius: 0 2px 2px 0;
}

.btns--compact > .btn.last::after,
.btn.fc-button.fc-corner-right::after {
    display: none;
}

.btns--compact .trig {
    margin: 0;
}

.btns--compact + .btns--compact {
    margin-left: 12px;
}

@media only screen and (min-width: 991px) {
    /* Reduce width of sticky button when sidebar is open */
    .flyout-open .btns--stickyB {
        width: calc(100% - 320px);
    }
}

@media only screen and (max-width: 900px) {
    /* dont cover bottom tabs or the shadow */
    .btns--stickyB {
        bottom: 58px;
        z-index: 997;
    }

    .btns--add-new {
        display: none;
    }
}