.fca__agentList {
    max-height: 508px; /* 8px added for spacing below last item */
    overflow: hidden;
    padding-top: 8px;
    padding-bottom: 8px;
}

.fca__agentList.active {
    max-height: initial;
}