.bar--feeds {
    padding: 0;
    padding-left: 16px;
    position: relative;
}

.bar__title--feeds {
    width: 100%;
    cursor: pointer;
}

.bar__title--feeds .icon {
    pointer-events: none;
}

.menu__list--feeds {
    top: 100%;
    left: 18px;
    min-width: 240px;
}

@media (max-width: 900px) {
    .bar__title--feeds {
        font-size: 16px;
        width: auto;
    }

    .menu__list--feeds {
        top: auto;
        bottom: 100%;
    }

    /**
     * IDX feed switcher covers 'Save' button on small screens
     * Bump the 'Save' button up a bit so that it's visible on: [
     * `settings/idx`,
     * `settings/idx/meta`,
     * `/idx/snippets/add`,
     * `/idx/searches/add`,
     * `/idx/quicksearch`,
     * `/idx/default-search`
     * ]
     */
    body.settings-idx,
    body.settings-idx-meta,
    body.idx-snippets-add,
    body.idx-searches-add,
    body.idx-quicksearch,
    body.idx-default-search,
    body.cms-tools-communities-add {
        .btns--stickyB .btn {
            position: relative;
            bottom: 50px;
        }
    }
}
