.file-manager {
    background: #bebebe;
    border-top: 1px solid #eee;
    border-radius: 2px;
}

.file-manager-error {
    color: red;
}

.file-manager ul {
    overflow: hidden;
}

.file-manager ul.ui-sortable {
    list-style: none;
    margin: 0 !important;
    padding: 0;
}

.file-manager ul li {
    background: #fff;
    border: 1px solid #999;
    float: left;
    list-style: none;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    overflow: hidden;
    padding: 5px;
    position: relative;
    width: 95px;
    height: 95px;
}

.file-manager--slideshow ul li {
    width: 125px;
}

@media (max-width: 480px) {
    .file-manager--slideshow ul li {
        width: auto;
        height: auto;
    }
}

.file-manager li.placeholder {
    background: #e4e4e4;
    border: 3px dashed #61a1e4;
    height: 85px;
    box-shadow: none;
    width: 85px;
}

.file-manager ul li i.wrap {
    background: #4a4c4f;
    display: block;
    height: 100%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .3);
    width: 100%;
}

.file-manager ul li img {
    float: left;
}

.file-manager li a {
    display: block;
}

.file-manager li .actions {
    position: absolute;
    width: 70px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -35px;
}

.file-manager--slideshow li .actions {
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: auto;
    top: auto;
    margin: auto;
}

.file-manager li .actions.num_actions_1 {
    height: 20px;
    margin-top: -10px;
}

.file-manager li .actions.num_actions_2 {
    height: 40px;
    margin-top: -30px;
}

.file-manager li .actions.num_actions_3 {
    height: 60px;
    margin-top: -40px;
}

.file-manager li .actions a {
    display: block;
    float: none;
    text-align: center;
    text-decoration: none;
    margin: 0;
    left: 0;
}

.file-manager--slideshow li .actions a {
    position: relative;
    padding: 5px;
    float: left;
    width: 50%;
    border: 0;
    border-radius: 0;
    background: rgba(96, 96, 109, 0.75);
}

.file-manager--slideshow .actions a:first-of-type {
    left: 5px;
}

.file-manager--slideshow .actions a:last-of-type {
    margin-left: -5px;
}

/** QQ Uploader **/

.qq-uploader {
    position: relative;
    display: block;
}

.qq-upload-button {
    z-index: 60;
    bottom: 5px;
}

.qq-upload-button .icon {
    margin: 0;
}

/* .qq-upload-button:hover {

} */

.qq-upload-drop-area {
    position: relative;
    left: 0;
    right: 0;
    top: 20px;
    z-index: 50;
    width: 100%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    background-color: transparent;
}

.qq-upload-title {
    width: 100%;
}


.qq-upload-drop-area span {
    font-size: 14px;
}

.qq-uploader-here {
    border: lightgrey dashed 2px;
    border-radius: 10px;
}

.qq-uploader .qq-upload-list {
    margin: 0 !important;
    padding: 0;
    list-style: none !important;
    width: 350px;
    background: #fff;
    z-index: 1000;
}

li.qq-upload-success {
    display: none !important;
}

.qq-upload-list li {
    margin: 0;
    padding: 5px;
    line-height: 15px;
    font-size: 12px;
}

.qq-upload-file,
.qq-upload-spinner,
.qq-upload-size,
.qq-upload-cancel,
.qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {
    cursor: pointer;
}

.qq-upload-spinner {
    display: inline-block;
    background: url('../../../img/spinner-mini.gif');
    width: 15px;
    height: 15px;
    vertical-align: text-bottom;
}

.qq-upload-size,
.qq-upload-cancel {
    font-size: 11px;
}

.qq-upload-failed-text {
    display: none;
}

.qq-upload-fail .qq-upload-failed-text {
    display: inline;
}
