.grid {
    margin: 0 -12px;
    position: relative;
}

.grid::after,
.grid__.row::after {
    content: " ";
    display: block;
    clear: both;
}

.grid__col {
    float: left;
    margin: 0 12px;
}

.grid .-w1\/1 {
    width: calc(100% - 24px);
}

.grid .-w1\/2 {
    width: calc(50% - 24px);
}

.grid .-w2\/3 {
    width: calc(33.33% - 24px);
}

.grid .-w1\/3 {
    width: calc(66.66% - 24px);
}

.grid .-w3\/4 {
    width: calc(75% - 24px);
}

.grid .-w1\/4 {
    width: calc(25% - 24px);
}

.-w1\/1.-w1\/1 {
    width: 100%;
}

.-w1\/3.-w1\/3 {
    width: 33.33%;
}

.cols {
    margin: 0 -12px;
    position: relative;
}

.cols::after {
    content: " ";
    display: block;
    clear: both;
}

.col {
    float: left;
    margin: 0 12px;
}

.col.w1\/1 {
    width: calc(100% - 24px);
}

.w1\/1 {
    width: 100%;
}

.w3\/4 {
    width: calc(75% - 24px);
}

.w1\/2 {
    width: calc(50% - 24px);
}

.w1\/4 {
    width: calc(25% - 24px);
}

.cols .w1\/2 {
    width: calc(50% - 24px);
}

.cols .w1\/3 {
    width: calc(33.33% - 24px);
}

.col > .btn {
    width: 100%;
}

@media only screen and (max-width: 900px) {
    .cols {
        margin: 0;
    }

    .cols .col {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

/* Sidebar takes up significant space so allow content to span full width b/w these breakpoints  */
@media (min-width: 992px) and (max-width: 1350px) {
    .cols {
        margin: 0;
    }

    .cols .col {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}