.group {
    font-size: 14px;
    padding: 0 9px 0 20px;
    margin: 0 0 4px;
    background: #fff;
    color: #60606d;
    display: inline-flex;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border: 1px solid #e2e1e8;
    border-radius: 32px;
    white-space: nowrap;
    position: relative;
    align-items: center;
    float: left;
}

.group::before {
    content: " ";
    display: block;
    position: absolute;
    left: 9px;
    top: 9px;
    bottom: 9px;
    background: #c1c1c9;
    width: 6px;
    border-radius: 32px;
}

.group--vanilla {
    font-size: inherit;
    color: inherit;
    padding: 0 0 0 16px;
    margin: 0;
    background: transparent !important;
    border: none;
    border-radius: 0;
}

.group--vanilla::before {
    left: 2px;
}

.group_a::before {
    background: #f00;
}

.group_b::before {
    background: #f06;
}

.group_c::before {
    background: #90c;
}

.group_d::before {
    background: #4f009e;
}

.group_e::before {
    background: #001dd0;
}

.group_f::before {
    background: #0080ff;
}

.group_g::before {
    background: #00d6ba;
}

.group_h::before {
    background: #6c0;
}

.group_i::before {
    background: #39ac00;
}

.group_j::before {
    background: #ff9c00;
}

.group_k::before {
    background: #f60;
}

.group_l::before {
    background: #d84200;
}

.group_m::before {
    background: #5e4327;
}

.group_n::before {
    background: #906a43;
}

.group_o::before {
    background: #c3942f;
}

.group_p::before {
    background: #ffd40c;
}

.group_q::before {
    background: #fffc00;
}

.group_r::before {
    background: #fff;
    border: 1px solid #ddd;
    top: 8px;
    bottom: 8px;
    left: 8px;
}

.group a {
    text-decoration: none;
    color: inherit;
}

.group input {
    margin-left: 6px;
    vertical-align: middle;
}

/* HEAT 'GROUPS' */

.group.group_hot::before {
    background: #fe4700;
}

.group.group_medhot::before {
    background: #ffa109;
}

.group.group_warm::before {
    background: #ccae2b;
}

.group.group_luke::before {
    background: #adcc7d;
}

.group.group_cold::before {
    background: #7accc2;
}

.groups {
    margin: 0 0 -4px -1px;
    white-space: normal;
    padding: 12px 0;
}

.groups::after {
    content: "";
    display: block;
    clear: both;
}

.group_actions {
    display: flex;
    float: right;
    margin: 2px 0 0;
}

/* Highlight active action */
.group_actions .drop-enabled .icon {
    fill: #444;
}