/* DnD handle */

.handle {
    content: '....';
    line-height: 6px;
    cursor: move;
    font-size: 22px;
    letter-spacing: 2px;
    color: #ccc;
    flex-shrink: 0;
    align-self: center;
    position: relative;
    top: -6px;
}

.handle::after {
    content: '.. .. .. ..';
    float: left;
    width: 22px;
}