.icon {
    vertical-align: middle;
    position: relative;
    height: 32px !important;
    width: 32px !important;
    fill: #91909a;
}

.icon--invert {
    && {
        fill: #fff;
    }
}

.icon--sm {
    height: 16px !important;
    width: 16px !important;
    margin-top: -4px;
}

.icon.S2,
.icon--md {
    height: 24px !important;
    width: 24px !important;
    margin-top: -6px;
}

.app-icons {
    padding: 24px;
    overflow: hidden;
}

.icon.mar0 {
    margin: 0;
}

.ico {
    color: #40404e;
}

a .ico {
    vertical-align: middle;
}