.keyvals {
    display: table;
    color: inherit;
    text-decoration: inherit;
    width: 100%;
}

.keyvals--bordered {
    border: 1px solid #e2e1e8;
    border-radius: 2px;
    width: 100%;
}

.keyvals--columns {
    display: flex;
    flex-wrap: wrap;
}

.keyvals--columns a {
    font-size: 36px;
    line-height: 36px;
}

.keyvals__row {
    display: table-row;
}

.keyvals__row--rows {
    display: flex;
    flex-direction: column-reverse;
    flex: 1 0 auto;
    align-items: center;
}

/* Split into two columns */
@media only screen and (max-width: 800px) {
    .keyvals__row--rows {
        width: 50%;
        flex-basis: 50%;
    }
}

.keyvals__key {
    padding: 8px;
    display: table-cell;
    width: 25%;
    white-space: nowrap;
    vertical-align: top;
}

.keyvals__row--rows .keyvals__key {
    width: auto;
    display: block;
}

.keyvals__val {
    padding: 8px;
    display: table-cell;
    vertical-align: top;
}

@media only screen and (max-width: 680px) {

    .keyvals__row--rows\@sm {
        display: flex;
        flex-direction: column;
    }

    .keyvals__row--rows\@sm__key {
        width: auto;
    }

}

/**
 * TODO: Review use cases for `.kv`
 * Currently we use `.keyvals`
 * Check .tpl files for `.kv` and update to `.keyvals`
 */

.kv {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #e2e1e8;
}

.kv--vanilla {
    border-bottom: none;
}

.kv .k {
    display: inline-block;
    width: 140px;
    flex-shrink: 0;
}

.kv .v {
    display: inline-block;
    word-break: break-word;
    word-wrap: break-word;
    hyphens: auto;
    flex: 1 1 auto;
}

.kvs--bordered {
    border: 1px solid #e2e1e8;
    border-radius: 2px;
    margin: 0 0 40px;
}

.kvs--bordered .k,
.kvs--bordered .v {
    padding-left: 15px;
    padding-right: 15px;
}

.kvs--cols {
    color: #40404e;
    overflow: hidden;
    position: relative;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 20px;
}

.kvs--cols .kv {
    width: 25%;
    float: left;
    text-align: center;
    border: none;
    justify-content: flex-start;
    align-content: flex-start;
    vertical-align: top;
}

.kvs--cols .k {
    text-transform: uppercase;
    margin: 10px 0;
    padding: 5px 0;
    font-size: 12px;
}

.kvs--cols .k,
.kvs--cols .v {
    display: block;
    width: auto;
    color: inherit;
    text-decoration: inherit;
    margin: 0;
}

.kvs--cols .v {
    font-size: 30px;
    line-height: 30px;
    border-right: 1px solid #e2e1e8;
}

.kvs--cols:last-child .v {
    border-right: none;
}

.kvs {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

.kv--stacked {
    display: block;
}

.kv--stacked .k,
.kv--stacked .v {
    display: block;
    width: auto;
    margin: 4px 0;
}

.kv .toggleset {
    max-height: 300px;
    overflow: auto;
}