.kicker {
    display: flex;
    margin: 0 0 20px;
    color: #40404e;
}

.kicker :first-child {
    text-transform: uppercase;
    margin: 0 10px 0 0;
    font-size: 12px;
    letter-spacing: 1px;
}

.kicker::after {
    content: " ";
    height: 1px;
    background: #e2e1e8;
    flex: 5;
    align-self: center;
}