.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    clear: left;
    min-width: 240px;
}

.menu__list {
    margin: 0;
    padding: 16px;
    list-style: none;
    display: block;
}

.menu__list--horizontal {
    display: flex;
}

.menu__list--columns {
    overflow: hidden;
}

.menu__list--columns .menu__item {
    float: left;
}

.menu__title {
    padding: 8px;
    display: block;
}

.menu__link {
    color: inherit;
    text-decoration: inherit;
    padding: 8px;
    display: block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    white-space: nowrap;
    border-radius: 3px;
    cursor: pointer;
    transition: .33s all;
}

.menu__link--rows {
    display: flex;
    flex-direction: column;
}

.menu__icon {
    margin-top: -2px;
    margin-right: 8px;
}

.menu__link:hover {
    background: #eee;
}

.menu__link--negative {
    color: #f00;
    fill: #f00;
}

.menu__link--negative:hover {
    background: #ffe5e5;
}

.menu__link.is-active {
    color: #0096d8;
    fill: #0096d8;
}

.menu--drop {
    background: #fff;
    position: absolute;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    border-radius: 3px;
    border: 1px solid #ccc;
    max-height: 500px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    @media (max-width: 480px) {
        max-height: 380px;
    }
}

.menu.-right {
    right: 0;
}

.menu.-bottom {
    bottom: 0;
}

.menu.-hidden {
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

.drop.drop-element {
    z-index: 9000;
}

/**
 * Group drop down on small displays
 * Currently used on crm/leads page
 */
@media only screen and (max-width: 480px) {
    #menu--groups {
        width: 100%;
    }
}

@media only screen and (max-width: 320px) {
    #menu--groups {
        right: -42px;
    }
}

/* Prevent cut off dropdowns for "Copy"/"View" dropdown (within ellipses) */
@media (max-width: 400px) {
    .menu--copy {
        right: -50px;
    }
}

/**
 * TODO: Review use case for `.mnu`
 * Currently we use `.menu`
 * Review .tpl files and change `.mnu` to `.menu`
 */

.mnu li.ttl {
    padding: 6px 14px;
    -moz-osx-font-smoothing: grayscale;
    color: #60606d;
    font-size: 12px;
    font-weight: normal;
    text-rendering: optimizelegibility;
    text-transform: uppercase;
}

.mnu.mnu--stacked {
    float: none;
    clear: both;
}

.mnu.mnu--stacked li {
    float: none;
}

.mnu.mnu--stacked a {
    color: #40404e;
    text-decoration: none;
    font-size: 16px;
    display: block;
    float: none;
    padding: 12px 24px;
}

.mnu.mnu--stacked .ttl {
    padding: 12px 24px;
}

.mnu.mnu--stacked a .ico {
    color: #40404e;
    top: 1px;
}

.mnu.mnu--stacked h4:first-child {
    margin: 0;
    border: none;
}

.mnu.mnu--stacked h4 {
    display: block;
    padding: 24px 24px 12px;
    font-weight: bold;
    margin: 12px 0 0;
    border-top: 1px solid transparent;
    color: #60606d;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 200;
    text-transform: uppercase;
}

.mnu.mnu--stacked a[data-current],
.mnu.mnu--stacked a[data-current] .icon,
.mnu.mnu--stacked a.current,
.mnu.mnu--stacked a.current .icon {
    color: #0096d8 !important;
    fill: #0096d8 !important;
    font-weight: bold;
}

.mnu.mnu--stacked a:hover {
    color: #444;
    background: transparent;
}

.mnu.mnu--stacked a:hover .ico {
    color: #555;
}

.mnu.mnu--stacked ul {
    margin: 0;
    padding: 0;
}

.mnu.mnu--stacked ul a {
    font-weight: normal;
}

.mnu ul a.compact {
    padding-left: 0;
    padding-right: 0;
}

.mnu a,
.mnu label {
    display: block;
    padding: 10px 20px;
    color: inherit;
    text-decoration: inherit;
    margin: 0;
    cursor: pointer;
}

.mnu a:hover,
.mnu label:hover {
    background: #f8f7fa;
}

.mnu a:hover .ico {
    color: #e2e1e8;
}

.mnu {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    font: 16px/24px Lato, sans-serif;
    ;
}

.mnu li {
    list-style: none;
    float: left;
    width: auto;
    text-align: left;
    position: relative;
}

.mnu li .thb {
    float: left;
}

.mnu a {
    float: none;
    width: auto;
    text-align: left;
    float: left;
    padding: 24px 12px;
    transition: color 1s;
    position: relative;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mnu a:hover {
    background: rgba(0, 0, 0, .1);
    transition: color 1s;
}

.mnu a .ico {
    transition: color .5s;
}

.mnu--bordered {
    border: 1px solid #c1c1c9;
}

.mnu--bordered li {
    border-right: 1px solid #c1c1c9;
}

.mnu--bordered li:last-child {
    border-right: none;
}

.mnu--bordered a {
    padding: 6px 12px;
}

.mnu .current a {
    color: #40404e;
}

.mnu.mnu-stacked a {
    color: #40404e;
    text-decoration: none;
    font-size: 16px;
    display: block;
    float: none;
    padding: 12px 24px;
}

.mnu.mnu-stacked a .ico {
    color: #40404e;
    margin-top: -2px;
    font-size: 18px;
}

.mnu.mnu-stacked h4:first-child {
    margin: 0;
    border: none;
}

.mnu.mnu-stacked h4 {
    color: #60606d;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    display: block;
    padding: 24px 24px 12px;
    font-weight: bold;
    margin: 12px 0 0;
    border-top: 1px solid #fff;
}

.mnu.mnu-stacked a.current,
.mnu.mnu-stacked a.current .ico {
    color: #0096d8;
}

.mnu.mnu-stacked a:hover,
.mnu.mnu-stacked a:hover .ico {
    color: #40404e;
}

.mnu .dvd {
    height: 1px;
    overflow: hidden;
    background: #f8f7fa;
}

@media (max-width: 900px) {
    .mnu .dvd {
        display: none;
    }
}

.nav__app .mnu .dvd {
    height: 0;
    overflow: hidden;
    background: transparent;
    position: relative;
    height: 6px;
    margin: 0 0 6px;
}

.nav__app .mnu .dvd::after {
    content: " ";
    display: block;
    position: absolute;
    left: 24px;
    right: 24px;
    bottom: 0;
    height: 1px;
    background: #eee;
}