/* Styles used for error message pages E.g 404 */
.rewui.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 260px;
    margin: 0 auto;
}

.rewui.message .title {
    font-size: 24px;
    font-weight: normal;
}

.rewui.message p {
    color: #40404e;
}

.rewui.message img {
    display: block;
    margin: 24px auto;
}