.nodes {
    list-style: none;
    margin: 0;
    padding: 0;
    clear: both;
    max-width: 100%;
}

.nodes__list {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    width: 100%;
}

.nodes__list--nested {
    padding-left: 24px;
}

.nodes__wrap {
    position: relative;
    transition: ease-out .3s padding, transform;
    display: flex;
    padding: 24px;
    align-content: flex-start;
}

.nodes__wrap::before {
    content: "";
    display: block;
    height: 1px;

    position: absolute;
    bottom: 0;
    left: 24px;
    right: 0;
    background: #dddce4;
}

.nodes__wrap--no-divider::before {
    background: transparent;
}

.nodes__toggle {
    padding-right: 8px;
    width: 20px;
}

.nodes__handle {
    content: '....';
    line-height: 6px;
    cursor: move;
    font-size: 22px;
    letter-spacing: 2px;
    color: #ccc;
    flex-shrink: 0;
    align-self: center;
    position: relative;
    top: -6px;
}

.nodes__handle::after {
    content: '.. .. .. ..';
    float: left;
    width: 22px;
}

.nodes__actions {
    flex: 0 0 auto;
    align-self: flex-start;
    form {
        float: right;
        padding-bottom: 0 !important;
    }
}

.nodes__branch--highlight  .nodes__wrap::before {
    left: 0;
}

.nodes__branch--edit::after {
    opacity: 1;
}

.nodes__branch--active::after {
    background: #0096d8;
    border-color: #0096d8;
}

.nodes__branch--active::before {
    content: '';
    display: block;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    position: absolute;
    left: 26px;
    top: 46px;
    z-index: 99;
}

.nodes .dd-placeholder,
.nodes .dd-empty {
    margin: 5px 0;
    padding: 0;
    min-height: 60px;
    background: #f2fbff;
    border: 1px dashed #b6bcbf;
    box-sizing: border-box;
}

.nodes .dd-empty {
    border: 1px dashed #bbb;
    min-height: 100px;
    background-color: #e5e5e5;
    background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.nodes .article {
    flex: 9 1 auto;
    min-width: 0; /* this fixes text-overflow: ellipsis on child elements */
}

.-airborne {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
    left: 0;
    background: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .1);
    transform: scale(1.01);
}

.nodes__branch--edit {
    padding-left: 40px;
}

.nodes__branch::after {
    content: "";
    display: block;
    height: 24px;
    width: 24px;
    border: 2px solid #ccc;
    border-radius: 50%;

    position: absolute;
    left: 16px;
    top: 40px;

    opacity: 0;
    transition: all .5s ease;
    z-index: -1;
}

.nodes__branch:last-child .nodes__wrap::before {
    display: none;
}

/* Moved from `screen.css` */
.node input[type="checkbox"].vC {
    top: 20px;
}

.nodes ul {
    list-style: none;
    margin: 0 0 0 30px;
    padding: 0;
}

.nodes > ul {
    margin-left: 0;
}

.node {
    position: relative;
}

.node .btns {
    float: right;
}

.node a {
    text-decoration: none;
    color: inherit;
}

.node input[type=checkbox] {
    position: absolute;
    left: 0;
    top: 25px;
}

.node .ttl input[type=checkbox] {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.node .article {
    padding: 14px 0 13px;
    border-bottom: 1px solid #e2e1e8;
    display: flex;
    max-width: calc(100vw - 48px); /* force a max-width, for firefox */
}

.node.padL .article {
    max-width: calc(100vw - 72px); /* force a max-width */
}

.node .article.multi-row {
    flex-wrap: wrap;
}

.node .thb {
    float: left;
    width: 24px;
    height: 24px;
    position: relative;
    margin: 2px 10px -2px 0;
}

.node .article .row--wrap {
    white-space: normal;
}

.node .article .row + .row .ttl {
    padding-top: 0;
    display: inline;
}

.node .article input[type=checkbox] {
    vertical-align: middle;
}

.node label.article {
    padding-left: 24px;
}

.node .article .v {
    font-size: 14px;
    color: #60606d;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.node.kaboom {
    background: #2acb42;
    color: #fff;
    margin-left: -24px;
    margin-right: -24px;
    padding-left: 24px;
    padding-right: 24px;
}

.node.kaboom .v {
    color: #fff;
}

.node + .div {
    margin-top: 20px;
}

.nodes.dd .dd-list {
    margin: 0 0 0 24px;
}

.nodes.dd .dd-list-first {
    margin-left: 0;
}

@media only screen and (min-width: 901px) {
    .node .article {
        max-width: calc(100vw - 248px); /* force a max-width, for firefox. sidebar is visible, account for it's width */
    }
}