#app_notices {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(128, 126, 132, .9);
    z-index: 99999;
}


#app_notices_win {
    position: fixed;
    width: 380px;
    height: 580px;
    z-index: 99999;
    background: #fff;
    color: #41404e;
    text-align: center;
    padding: 24px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: calc(100% - 24px);
    max-height: calc(100% - 24px);
    border-radius: 2px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#app_notices::after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: -3px;
    width: 94%;
    left: 50%;
    margin-left: -47%;
    height: 30px;
    box-shadow: 0 16px 30px -5px rgba(0, 0, 0, .1);
    transform: perspective(800px) rotateY(0deg) rotateX(45deg);
}

#app_notices ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#app_notices li {
    display: none;
}

#app_notices li.active {
    display: block;
}

#app_notices p {
    font-size: 18px;
    margin: 12px auto;
}

#app_notices a.lead {
    color: #a7a5ad;
    text-decoration: none;
    font-size: 18px;
}

#app_notices .btns {
    padding-top: 24px;
}

#app_notices .btn {
    font-weight: bold;
}

#app_notices .btn .icon {
    margin-left: -8px;
}

.notify {
    padding-left: 8px;
    padding-right: 8px;
}

.notify a {
    color: inherit;
    cursor: pointer;
    text-decoration: underline;
}

.notify-success {
    background: #35d57e;
    color: #fff !important;
}

.notify-error {
    background: #f4514c;
    color: #fff !important;
}

.notify-warning {
    background: #ffc107;
    color: #fff !important;
}

#notifications {
    display: none;
    margin: 0;
    box-shadow: 0 -2px 3px rgba(0, 0, 0, .1) inset;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
}

#notifications .btn--ghost,
#notifications .btn--ghost:hover {
    padding: 0;
    background: transparent;
    border: none;
    margin-top: -2px;
}

#notifications ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#notifications li,
#notifications ul {
    display: inline;
}

.ui-notify a {
    color: #fff;
}

.ui-notify-message {
    padding: 12px;
}

.ui-notify-message .icon {
    fill: #fff;
    margin-top: -2px;
}

/* new version */

.notice {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, .3);
}