.nav_pagination {
    padding: 10px 40px;
    text-align: center;
    list-style: none;
    margin: 0;
}

.nav_pagination a {
    display: inline-block;
    border: 1px solid rgba(204, 204, 204, 0.48);
    text-decoration: none;
    color: inherit;
    padding: 10px 20px;
    border-radius: 2px;
}

.nav_pagination a:hover {
    background-color: #eee;
}

.nav_pagination .current {
    border-color: #e2e1e8;
}

.nav_pagination .icon {
    width: 38px !important;
    height: 38px !important;
}