.scaleline {
    margin: 0 20px 0 0;
    padding-bottom: 10px;
    position: relative;
    border-bottom: 3px solid #e2e1e8;
}

.scaleline .line {
    position: absolute;
    left: 0;
    bottom: -3px;
    border-bottom: 3px solid #0096d8;
}

.scaleline .potential {
    position: relative;
}