.shutter {
    width: 280px;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 0 0 25px rgba(0, 0, 0, .2);
    transform: translateX(0);
    transition: all .33s ease;
    z-index: 3001;
}

.shutter__head {
    flex: 0 0 auto;
    font-size: 18px;
    font-weight: bold;
    overflow: visible;
    position: relative;
    padding: 24px 24px 0;
}

.shutter__body {
    flex: 9 9 auto;
    overflow: hidden;
    position: relative;
}

.shutter__body--scrollable {
    overflow: auto;
    padding-bottom: 24px;
    padding-top: 24px;
}

.shutter__foot {
    flex: 0 0 auto;
    overflow: visible;
    position: relative;
}

.shutter.-is-hidden {
    width: 240px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0);
    transform: translateX(100%);
}

.shutter__foot::after {
    content: " ";
    display: block;
    top: -24px;
    left: 0;
    right: 0;
    height: 24px;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    position: absolute;
    z-index: 99999;
    pointer-events: none;
}

.shutter__head::after {
    content: " ";
    display: block;
    bottom: -24px;
    left: 0;
    right: 0;
    height: 24px;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    z-index: 99999;
    pointer-events: none;
}
