.split {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    overflow: hidden;
}

.split__major {
    flex: 9 9 auto;
    overflow: auto;
}

.split__minor {
    flex: 0 0 auto;
    overflow: hidden;
}