.sprite {
    background: url('../../images/sprites.png') no-repeat;
    display: inline-flex;
    vertical-align: middle;
    flex-shrink: 0;
    background-size: auto 72px;
}

.sprite--crm {
    background-position: 0 0;
}

.sprite--settings {
    background-position: 50% 0;
}

.sprite--people {
    background-position: 30% 0;
}

.sprite--dashboard {
    background-position: 40% 0;
}

.sprite--content {
    background-position: 10% 0;
}

.sprite--listings {
    background-position: 20% 0;
}

.sprite--alarm {
    background-position: 60% 0;
}

.sprite--facebook {
    background-position: 0 100%;
}

.sprite--google {
    background-position: 10% 100%;
}

.sprite--small {
    && {
        height: 24px;
        width: 24px;
        background-size: auto 72px;
    }
}

.sprite--medium {
    && {
        height: 48px;
        width: 48px;
        background-size: auto 144px;
    }
}

.sprite--large {
    && {
        height: 72px;
        width: 72px;
        background-size: auto 216px;
    }
}