.status {
    font-size: 9px;
    padding: 4px 6px;
    background: #a1a1aa;
    color: #f8f7fa;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 9px;
    align-self: center;
    border-radius: 2px;
}

.status--pending {
    background: #ffbd2e;
}

.status--rejected {
    background: #ff5f58;
}

.status--accepted {
    display: none;
}