.text {
    text-decoration: inherit;
    color: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.text--strong {
    && {
        font-weight: bold;
    }
}

.text--mute {
    && {
        opacity: .75;
    }
}

.text--negative {
    && {
        color: #f00;
    }
}

.text--clip {
    && {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.text--small {
    && {
        font-size: 14px;
    }
}

.text--large {
    && {
        font-size: 24px;
    }
}

.text--center {
    && {
        text-align: center;
    }
}

.text--right {
    && {
        text-align: right;
    }
}

.text--left {
    && {
        text-align: left;
    }
}

.text--strike {
    && {
        text-decoration: line-through;
    }
}

.mute {
    color: #60606d;
}

.tip {
    color: #91909a;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}