.tplChooser {
    background: #f8f7fa;
    padding: 24px;
}

.tplChooser h4 {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tpl_options {
    overflow: hidden;
    white-space: nowrap;
    overflow: auto;
    margin: 0 0 40px;
    overflow: auto;
}

.tpl_options label {
    width: 140px;
    float: left;
    margin-right: 20px;
    cursor: pointer;
}

.tpl_options label img {
    width: 140px;
    border: 2px solid #f8f7fa;
}

.tpl_options .current img {
    border-color: #0096d8;
}

.tpl_options label.current {
    display: inline-block;
}

.tpl_options label input {
    position: absolute;
    left: -999px;
    top: -999px;
}

.tpl_options label strong {
    display: block;
    font: 14px/24px Lato, sans-serif;
}

.tpl_options label span {
    display: none;
}