.usr {
    font-size: 14px;
    padding: 0 9px 0 20px;
    margin: 0 0 4px;
    background: #fff;
    color: #60606d;
    display: inline-flex;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border: 1px solid #e2e1e8;
    border-radius: 32px;
    white-space: nowrap;
    position: relative;
    align-items: center;
    float: left;
}

.usr .thb {
    overflow: hidden;
    margin: 0 6px 0 0;
    border-radius: 12px 0 0 12px;
}

.usr .thb img {
    margin: 0;
}