.api-key {
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
}

.article {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 740px) {
    .article {
        flex-direction: column;
        align-items: flex-start;
    }

    .article__actions .btn {
        padding-left: 0;
    }
}

.api__settings .article__actions {
    text-align: right;

    @media (min-width: 991px) and (max-width: 1240px) {
        flex-basis: 180px;
    }

    @media (max-width: 740px) {
        margin: 0 0 0 auto;
    }
}