/*--------------------------------------------------------------------------------------------
IDX DASHBOARD
---------------------------------------------------------------------------------------------*/

.dashboard .uk-alert {
    margin-bottom: 15px;
    padding: 10px;
    margin-top: 1em;
}

[data-dashboard] {
    cursor: pointer;
}