//this is for the advanced search bar that appears at < 1024
.mobile-advanced-search-bar {
    text-align: center;
    padding: 0.50em 0;
    font-size: $base-h4-font-size;
    font-weight: $font-weight-medium;

    a.search-filter {
        line-height: 2em;

        i {
            padding: 0 6px;
        }
    }
}

// Header Search

/* REWMOD ASHLEY J [FEB/20/17] - If header is sticky, the advanced search is also sticky,
   but we need to keep the advanced search content accessible. */
.fw-idx-filter-container.uk-sticky-init .fw-idx-filter {
    max-height: 100vh;
    overflow-y: scroll;
    z-index: 99999;
}

.header-search {
    @media only screen and (max-width:769px) and (min-width:768px) {
        margin-top:0px !important;
    }

    @media only screen and (max-width:767px) {
        margin-top:15px;
    }

    input {
        font-size: 18px;
        min-height: 44px;
        border: medium none;
        box-shadow: none;
        font-weight: $font-weight-light;
        padding: 4px 12px !important;

        @media only screen and (min-width: 300px) and (max-width: 359px) {
            font-size: 12px;
            padding-left: 6px !important;
        }

        @media only screen and (min-width: 360px) and (max-width: 479px) {
            font-size: 14px;
            padding-left: 6px !important;
        }

        @media only screen and (min-width: 480px) and (max-width: 1260px) {
            font-size: 16px;
        }
    }

    select {
        font-size: 18px;
        min-height: 44px;
        border: medium none;
        box-shadow: none;
        font-weight: $font-weight-light;
        padding: 2px !important;
    }

    button {
        min-height: 44px;
        width: auto;
        font-size: 16px;
        text-align: center;

        .header-idx-search-button-icon {
            display: none;
        }

        @media only screen and (min-width: 1024px) and (max-width: 1261px) {
            .header-idx-search-button-icon {
                display: inline-block;
            }

            .header-idx-search-button-text {
                display: none;
            }
        }

        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width: 1024px) {
            padding: 0 9px !important;
            font-size: 14px;
        }
    }

    .idx-price {
        position: relative;

        span.label {
            min-height: 44px;
            padding: 0 7px;
            font-size: 18px;
            display: block;
            line-height: 44px;
            font-weight: 300;

            &:after {
                font-family: FontAwesome;
                display: inline-block;
                content: "\f107";
                font-size: 18px;
                position: absolute;
                right: 5em;

                @media only screen and (max-width: 1024px) {
                    right: 5em;
                }

                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width: 1024px) {
                    right: 4.5em;
                }
            }

            &.open:after {
                content: "\f106";
            }

            @media only screen and (max-width: 1260px) {
                font-size: 14px;
            }

            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width: 1024px) {
                font-size: 14px;
            }
        }
        // Price Range Drop Down
        .wrapper {
            position: absolute;
            top: 100%;
            width: 100%;

            .range {
                span {
                    display:inline-block;
                    position:relative;

                    &.min, &.max {
                        width: 46%;
                        margin-top:-1px;
                    }

                    &.tween {
                        width: 8%;
                        text-align: center;
                        min-height: 44px;
                        line-height:44px;
                    }

                    select {
                        border:none;
                        font-size:18px;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        width: 100%;
                        background: url(#{$skin-url}img/chevron-down.png);
                        background-repeat: no-repeat;
                        background-size: 16px 16px;
                        background-position: right 3px center;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;

                        &:hover {
                            cursor: pointer;
                        }

                        &::-ms-expand {
                            display: none;
                        }

                        @media only screen and (max-width: 1260px) {
                            font-size: 14px;
                        }

                        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width: 1024px) {
                            font-size: 80%;
                        }

                        option {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }

    a.search-filter {
        min-height:44px;
        font-size:14px;
        line-height:44px;
        display:block;
        text-align: center;
        text-transform:uppercase;

        @media only screen and (min-width: 1024px) and (max-width: 1260px) {
            font-size: 12px;
        }

        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width: 1024px){
            font-size: 12px;
        }

        i {
            margin-left:10px;
            font-size: 20px;
        }
    }

    a.search-filter.mobile {
        @media only screen and (max-width:1024px) {
            display:block;
        }
    }

    .uk-dropdown {
        width: 100%;
    }
}