/*--------------------------------------------------------------------------------------------
IDX SEARCH
---------------------------------------------------------------------------------------------*/

.adv-search-h4 {
    line-height: 30px;
    padding-right: 1em;
}

.adv-search-panel {
    padding: 16px 14px;
    margin: 0 0 1em 0;

    h4 {
        margin: 0 0 1em 0;
        text-transform: uppercase;
        font-weight: $font-weight-light;
    }

    .accent {
        font-weight: $font-weight-bold;
    }
}

.feed-switcher {
    h4 {
        margin: 0 0 1em 0;
        text-transform: uppercase;
        font-weight: $font-weight-light;
    }

    .uk-active {
        &:after {
            content: '\f00c';
            font-family: Fontawesome;
            display: inline;
            padding-left: 6px;
        }
    }
}

.idx-search {
    .uk-scrollable-box {
        border: none;
        box-sizing: border-box;
        max-height: 130px;
        height: auto;
        overflow: auto;
        padding: 10px 0 10px 2px;
        resize: none;
    }
}

.uk-icon-open:before {
    @extend .uk-icon-plus;
}

.uk-icon-close:before {
    @extend .uk-icon-minus;
}

@import 'search_header';

// Search Menu Arrow when Filter button is clicked
.fw-idx-filter-container {
    position:relative;
    width:100%;

    #sub-quicksearch {
        display:block;
    }
}

.fw-idx-filter {
    left:auto;
    z-index: 1009;
    padding: 10px 0 30px 0;
    -webkit-box-shadow: 0px 6px 12px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 12px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 12px -3px rgba(0,0,0,0.75);

    @media (min-width: 320px) and (max-width: 767px) {
        top: 9px;
        position:relative;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        top: 0px;
        position:relative;
    }

    @media (min-width: 1024px) {
        top: 0;
        margin-top:-50px;
        width:100%;
        position: absolute;
    }

    @include bp-xsmall {
        margin-top: -40px;
    }

    @include bp-medium {
        margin-top: -50px;
    }

    &:before {
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        top: -20px;
        z-index:100;
        right:4%;

        @include bp-xsmall {
            right: 50%;
        }

        @media (min-width: 1025px){
            right:15%;
        }
    }

    .close-filter {
        position: absolute;
        right: 15px;
        top: 9px;

        a.search-toggle {
            text-transform: uppercase;
            font-size: 16px;
        }
    }
    // Form Styles
    #sub-quicksearch{
        .idx-filter-col {
            margin-bottom:10px;

            @include bp-medium {
                margin-bottom:10px;
                padding-bottom:5px;
            }
        }
        // Filter Titles
        .idx-filter-col h4 {
            margin-top:15px;

            @include bp-small {
                margin-top:0;
            }

            > a {
                text-decoration: none;

                i {
                    float:right;
                    margin-top:3px;
                    margin-right:10px;

                    @include bp-large {
                        margin-right:0;
                    }
                }
            }
        }
        //END Filter Titles
        .filter-update-col {
            .fw-rows-4 {
                height:auto;

                .uk-alert {
                    padding-bottom:15px;

                    h4 {
                        margin-bottom:5px;
                    }

                    div {
                        font-size:15px;
                        font-weight: 300;
                        margin-bottom:5px;
                    }
                }
            }
        }

        .idx-filter-col:first-child .fw-panel:last-child {
            margin-top:0;
        }

        label {
            font-size:16px;
            margin-left:10px;
            margin-bottom:4px;
        }

        .filter-panel-box {
            margin-bottom:5px;

            @include bp-medium {
                margin-bottom:5px;
            }
        }

        .fw-panel {
            &.closed .title:after {
                content: "\f489";
                font-size: 14px;
            }

            > div {
                height:auto;
                padding:0;

                .fw-compact-form .uk-form-row {
                    margin-bottom:5px;
                }

                &.fw-row {
                    padding:0;
                    height:auto;
                }

                & {
                    padding: 8px 5px;

                    .title {
                        font-size:16px;

                        &:after {
                            display: block;
                            font-family: "Ionicons";
                            float: right;
                            padding-top: 1px;
                            content: "\f404";
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        .filter-saves {
            display:block;

            .save {
                width:100%;
                white-space: nowrap;
                margin-bottom:4px;
                font-size:14px;
                display:none;

                &:first-child {
                    padding-right:10px;
                }

                @include bp-medium {
                    display:inline-block;
                    width:49%;
                }

                > span {
                    display:inline-block;
                    margin-right:5px;
                    font-size:12px;
                    padding: 0 8px;

                    @include bp-medium {
                        margin-right:2px;
                    }

                    @include bp-xlarge {
                        margin-right:5px;
                    }
                }
            }

            a.idx-filter-save-btn {
                display:block;
                text-transform: uppercase;
                font-size:16px;
                margin-top:10px;
                padding:8px 12px;
                text-align: center;
                font-weight:500;
            }
        }

        .toggle-panel {
            padding-top:5px;

            @incude bp-large {
                padding-top:0;
            }
        }

        .bottom-grid {
            margin-top:20px;
            margin-bottom:10px;

            @include bp-large {
                padding-left:0;
            }

            .filter-tags {
                padding:10px;
                min-height:80px;
                margin-bottom:15px;

                @include bp-medium {
                    margin-bottom:0;
                }

                h4 {
                    display:inline-block;
                }

                .tags {
                    display:inline-block;
                    margin-left:20px;

                    a {
                        display:inline-block;
                        padding:0 5px;
                    }
                }
            }
        }
    }
}

.pg-homepage .fw-idx-filter {
    position: absolute;
    margin-top:-50px;
}

// UIKit Form Styles, remove when pulling from framework properly
.fw-idx-filter .uk-form input[type=checkbox],
.fw-idx-filter .uk-form input[type=radio] {
    display: inline-block;
    height: 13px;
    width: 13px;
    border: 1px solid #aaa;
    overflow: hidden;
    margin-top: -4px;
    vertical-align: middle;
    outline: 0;
    background: 0 0;
    background-color:#fff;
    color:#e7e7e7;
}

// Advanced search grid.
#sub-quicksearch {
    div.details.uk-scrollable-box div.fw-compact-form div label {
        font-size: 14px;
    }

    .toggleset label {
        display: block;
    }

    .left {
        float: left;
        width: 45%;

        select {
            width: 100%;
        }
    }

    .right {
        float: right;
        width: 45%;

        select {
            width: 100%;
        }
    }

    .uk-grid.top-grid {
        margin-top: 1em;
    }

    .title {
        padding: $idx-advanced-row-padding;
    }

    .field {
        .title {
            cursor: pointer;
        }
    }
}

// Price search in header
.header-search .idx-price {
    cursor: pointer;
}

#field-price {
    @extend .uk-hidden-large;
}


