body {
    background: #f2f3f7;
}

#app {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
}

.app__login {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    margin: 0 auto;
    padding: 24px;
    background: #fff;
    border-radius: 2px;
    width: 50%;
    min-height: 440px;
}

h2,
.field__label {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2 a {
    text-decoration: none;
    color: #999;
}

@media only screen and (max-height: 500px) {
    .login-footer {
        display: none;
    }
}

/* login page */

body.login,
body.remind {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.login-wrap {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    width: 960px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    z-index: 10;
    overflow: auto;
}

.app__login-aside {
    flex-basis: 50%;
    background: url(/backend/img/bg.png) no-repeat;
    background-size: cover;
    position: relative;
}

.login-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 24px 12px;
    text-align: center;
    z-index: 9;
}

.login-footer span {
    display: inline-block;
    margin: 0 12px;
}

@media only screen and (max-width: 640px) {
    .login-wrap {
        flex-direction: column;
        height: 100%;
    }

    .app__login-aside {
        flex-basis: 20%;
    }

    .app__login {
        flex-basis: 80%;
        width: 100%;
        padding: 24px;
        padding-bottom: 132px !important;
    }

}