@import '../../../../node_modules/react-select/dist/react-select.css';

body.dashboard #app__sidebar {
    display: none;
}

body.dashboard #app__body {
    padding-top: 0;
}

#app__sidebar {
    display: none;
}

#app__body {
    padding-top: 0;
}

.inbox-summary {
    max-width: 704px;
    padding: 12px 0;
    margin: 12px -24px;
    overflow: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.inbox-summary .iS-col {
    width: 20%;
    float: left;
    text-align: center;
    border-right: 1px solid #dddce4;
    cursor: pointer;
}

.inbox-summary .iS-col:last-child {
    border-right: none;
}

.inbox-summary i {
    font-style: normal;
    font-size: 32px;
    font-weight: normal;
    margin-right: 3px;
}

.inbox-summary small {
    display: block;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #8b8b95;
}

.mda {
    background: #fff;
    padding: 12px;
    border: 1px solid #ddd;
    color: #62626e;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .05);
    max-width: 680px;
}

.mda__hd a {
    color: #0096d8;
}

.mda__hd {
    display: flex;
}

.mda__hd__thb {
    margin-right: 12px;
    flex-shrink: 0;
}

.mda__thumb {
    flex-shrink: 0;
}

.mda__bd img {
    width: 100%;
}

.mda__bd p {
    max-height: 250px;
    overflow-y: auto;
    color: #2e2e3a;
}

.mda__thumb,
.mda .token__label {
    vertical-align: middle;
}

.btn--schedule {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn--schedule .icon {
    flex-shrink: 0;
}

.form-preview {
    background: #41404e;
    max-height: 180px;
    overflow: hidden;
    margin: 12px 0;
    padding: 12px 0;
    color: #c0bcc3;
    position: relative;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.form-preview td,
.form-preview th {
    padding: 0 12px;
}

.prs {
    background: #41404e;
    overflow: hidden;
    display: inline-flex;
    white-space: nowrap;
    align-items: center;
    border-radius: 24px;
}

.prs__thb {
    width: 36px;
    height: 36px;
    float: left;
    border-radius: 24px;
    overflow: hidden;
}

.prs__thb img {
    display: block;
}

.prs__txt {
    padding: 0 12px 2px 6px;
    font-size: 14px;
}

.prs__txt a {
    text-decoration: none;
    color: #c0bcc3;
}

.fto {
    display: block;
    position: relative;
}

.pos--BR {
    position: absolute;
    right: 24px;
    bottom: 24px;
}

#streetview-container {
    height: 400px;
    width: 100%;
}

.events-appear {
    opacity: 0;
    transition: opacity .7s ease-in;
}

.events-appear.events-appear-active {
    opacity: 1;
}

.events-enter {
    max-height: 0;
    transition: all .3s ease-in;
}

.events-enter.events-enter-active {
    max-height: 1000px;
}

.events-leave {
    max-height: 1000px;
    transition: all .3s ease-out;
}

.events-leave.events-leave-active {
    max-height: 0;
}

/* Dashboard Grid */

/* Tiny Screen */
.grid-sizer {
    width: 100%;
}

.gutter-sizer {
    width: 0;
}

.grid-event {
    width: 100%;
}

/* Small Screen */
@media screen and (min-width: 600px) {
    .grid-sizer {
        width: 48%;
    }

    .gutter-sizer {
        width: 2%;
    }

    .grid-event {
        width: 48%;
    }
}

@media screen and (min-width: 1200px) {
    .grid-sizer {
        width: 32%;
    }

    .gutter-sizer {
        width: 2%;
    }

    .grid-event {
        width: 32%;
    }
}

@media screen and (min-width: 1600px) {
    .grid-sizer {
        width: 23.5%;
    }

    .gutter-sizer {
        width: 2%;
    }

    .grid-event {
        width: 23.5%;
    }
}

@media screen and (min-width: 2000px) {
    .grid-sizer {
        width: 19.2%;
    }

    .gutter-sizer {
        width: 1%;
    }

    .grid-event {
        width: 19.2%;
    }
}

div.grid-event div.Select-control {
    cursor: pointer;
}

.inbox-summary .active i,
.inbox-summary .active small {
    color: #35d57e !important;
}

.dashboard .btns .btn {
    line-height: 34px;
}

.dashboard .btns .btn--positive {
    color: #fff;
}

@media only screen and (max-width: 650px) {
    .dashboard .btns .btn {
        padding-left: 0;
        padding-right: 0;
    }
}

#report .mda {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#report .inbox-summary {
    max-width: 100%;
    margin: 12px 0;
}

#report .inbox-summary i {
    margin: 0;
}

#report .inbox-summary small {
    font-size: 11px;
    line-height: 24px;
}

#report .mda__hd {
    padding-bottom: 16px;
}

#report .form-preview {
    margin-top: 0;
}

#report .form-preview td,
#report .form-preview th {
    text-align: left;
    max-width: 240px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#report .Select-input {
    width: 100%;
}

#report .Select-input > input {
    width: 100% !important;
    box-sizing: border-box !important;
}

#report .Select-control {
    position: relative;
}

#report .Select-menu-outer {
    padding: 10px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99999;
    border: 1px solid #d2d1d8;
    background-color: #fff;
}

#report .Select-option {
    cursor: pointer;
    padding: 5px;
}

#report .Select-option:hover {
    background-color: #eee;
}

@media only screen and (min-width: 960px) {
    #report .inbox-summary {
        margin: 24px 0;
    }

    #report .inbox-summary i {
        font-size: 3.5vw;
        line-height: 3.5vw;
    }

    #report .inbox-summary small {
        font-size: 14px;
        line-height: 24px;
    }
}

@media only screen and (min-width: 1300px) {
    #report .inbox-summary small {
        font-size: 18px;
    }
}

@media only screen and (max-width: 500px) {
    #report .inbox-summary i {
        font-size: 22px;
    }
}

.mda__hd .btn--ghost:not([disabled]):hover {
    background-color: transparent;
}

.mda__hd .article__content {
    flex-shrink: 2;
}