/*--------------------------------------------------------------------------------------------
HOMEPAGE FEATURED AGENTS
---------------------------------------------------------------------------------------------*/

.fw-featured-agents {
    padding: 60px 0 !important;

    @include bp-xsmall {
        .uk-grid-medium > * {
            margin-bottom: 10px;
            padding-left: 10px;
        }

        .uk-grid-medium {
            margin-left: -10px;
        }
    }

    @include bp-medium {
        .uk-grid-medium > * {
            margin-bottom: 20px;
            padding-left: 10px;
        }

        .uk-grid-medium {
            margin-left: -10px;
        }
    }

    @include bp-large {
        .uk-grid-medium > * {
            margin-bottom: 10px;
            padding-left: 10px;
        }

        .uk-grid-medium {
            margin-left: -10px;
        }
    }

    @include bp-xlarge {
        .uk-grid-medium > * {
            margin-bottom: 20px;
            padding-left: 20px;
        }

        .uk-grid-medium {
            margin-left: -20px;
        }
    }

    .agent-photo-container {
        @include bp-large {
            height: 240px;
            max-height: 240px !important;
        }

        @include bp-xlarge {
            height: 300px;
            max-height: 300px !important;
        }
    }

    h3 {
        font-size:32px;
        line-height:28px;
        text-transform: uppercase;
        text-align: center;
        display:block;
        clear:both;
        width:100%;
        font-weight:300; 
       
        @include bp-xsmall {
            font-size:36px; 
            padding-bottom:25px;     
        }

        @include bp-medium {
            font-size:36px;
            padding-bottom: 25px;      
        }

        @include bp-large {
            padding-bottom: 60px;
        }

        @include bp-xlarge {
            padding-bottom: 50px;
        }    
    }

    .agent-photo-container {
        @include bp-xsmall {
            height: 155px;
            width: auto;
        }

        @include bp-medium {
            height: 155px;
            width: auto;
        }

        @include bp-large {
            max-height: 240px;
            height: 240px;
            width: auto;
        }

        @include bp-large {
            max-height: 300px;
            height: 300px;
            width: auto;
        }
    }

    .agent-info-container {
        height: 100%;
        min-height: 155px;

        @include bp-xsmall {
            min-height: 155px;
        }

        @include bp-small {
            min-height: 155px;
        }

        @include bp-medium {
            min-height: 155px;
        }

        @include bp-large {
            height:auto;
            min-height: 100%;
		  
        }

        h5 {
            text-transform: normal; 
            font-size: 18px;
            font-weight: 400;     

            a {
                color: inherit;

                &:hover {
                    text-decoration: none;
                }  
            }

            @include bp-xsmall {
                font-size: 18px !important;
                font-weight: 400;
                padding: 26px 0 30px 8px;
                margin: 0;

                span {
                    display: block;
                }      
            }

            @include bp-small {
                font-size: 18px !important;
                font-weight: 400;
                padding: 26px 0 30px 24px;
                margin: 0;

                span {
                    display: block;
                }      
            }

            @include bp-large {
                margin: 0;
                font-size: 18px;
                font-weight: 400;
                text-align: center;
                text-transform: normal;
                line-height: 1em;
                padding: 0.65em 0 0.75em;

                span {
                    display: inline-block;
                }        
            }

            @include bp-xlarge {
                margin: 0;
                font-size: 18px;
                font-weight: 400;
                text-align: center;
                text-transform: normal;
                line-height: 1em;
                padding: 0.65em 0 0.75em;
            }
        }

        .agent-social-media {
            padding-top:5px;
            padding-bottom:5px;
	  
            .uk-icon-button {
                border-radius: 100%;
                box-sizing: border-box;
                display: inline-block;
                font-size: 14px;
                height: 24px;
                line-height: 24px;
                margin: 0 1px;
                text-align: center;
                width: 24px;
            }

            @include bp-xsmall {
                text-align: left;
                margin-left: 5px;
            }

            @include bp-small {
                text-align: left;
                margin-left: 24px;
            }

            @include bp-large {
                text-align: center;
                margin-left: 0;
            }
        } 

        @include bp-large {
            height: 85px;
        }

        @include bp-xlarge {
            height: 85px;
        }
    }
}
