/*--------------------------------------------------------------------------------------------
HOMEPAGE FEATURED COMMUNITIES
---------------------------------------------------------------------------------------------*/

.fw-home-featured-comm {
    padding-top:30px;
    padding-bottom:60px;

    @include bp-xsmall {
        padding: 15px 0 0;
    }
}

.featured-communities {
    .uk-container {
        @include bp-xsmall {
            padding: 10px 10px 0;
            margin: 0 auto;

            .uk-grid > * {
                margin-bottom: 10px;
            }  
        }

        @include bp-small {
            padding: 10px 20px 20px;
            margin: 0 auto;

            .uk-grid > * {
                margin-bottom: 10px;
                padding-left: 10px;
            }

            .uk-grid-small {
                margin-left: -10px;
            }  
        }

        @include bp-large {
            padding: 10px 20px 20px;
            margin: 0 auto;

            .uk-grid > * {
                margin-bottom: 10px;
                padding-left: 10px;
            }

            .uk-grid {
                margin-left: -10px;
            }  
        }

        @include bp-xlarge {
            padding: 20px;
            margin: 0 auto;

            .uk-grid > * {
                margin-bottom: 20px;
                padding-left: 20px;
            }

            .uk-grid {
                margin-left: -20px;
            }
        }
    }

    .featured-communities-title-box {
        display: block;

        @include bp-xsmall {
            text-align: center;
            min-height: 85px; 
        }

        @include bp-large {
            text-align: left;
            box-sizing: border-box;
            padding: 0 10px;
            margin: 0 auto;
            min-height: 164px; 
        }

        @include bp-xlarge {
            text-align: left;
            box-sizing: border-box;
            padding: 0 10px;
            margin: 0 auto;
            min-height: 201px; 
        }
    }      

    .featured-communities-title {
        bottom: 0;
        height: 60%;
        left: 0;
        margin: auto;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        width: 95%;

        @include bp-large {
            height: 75%;
        }

        h3 {
            text-transform: uppercase; 
            margin: 0;
            padding: 0;

            @include bp-xsmall {
                font-size: 24px;  
            }

            @include bp-medium {
                font-size: 30px;
                padding-top: 14px;
            }

            @include bp-large {
                font-size: 30px;
                padding: 6px 0 0 25px;
                line-height: 1.25em;
            }

            @include bp-xlarge {
                font-size: 36px;
                line-height: 1em;
                padding: 20px 0 0 38px;
            }       
        }

        a {
            font-size: 1rem;
            white-space: nowrap;
            line-height: 2.75em;        

            @include bp-xsmall {
                display: block;  
            }

            @include bp-medium {
                display: inline-block;
                padding-top: 14px;
            } 

            @include bp-large {
                display: inline-block;
                padding: 0 0 0 28px;
            }

            @include bp-xlarge {
                display: inline-block;
                padding: 9px 0 0 42px;
            }        

            &:hover {
                text-decoration: none;          
            }

            i {
                font-size: 2em;
                padding-left: 9px;
                position: relative;
                top: 4px;
            }
        }
    }  

    .featured-community-box {    
        .featured-communities-overlay {
            opacity: 0.3;      
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
        }

        a.featured-community-title {    
            font-size: 20px;
            font-weight: $font-weight-semi-bold;
            padding: 10px 15px;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;     
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;

            @include bp-xsmall {
                margin: 0 12px 35px !important;
            }

            @include bp-small {
                margin: 0 12px 25px !important;
            }
        }

        &:hover {
            .featured-communities-overlay {
                opacity: 0;
            }
        }

        @include bp-xsmall {
            min-height: 220px;
            max-height: 220px;
        }

        @include bp-small {
            min-height: 235px;
            max-height: 235px;
        }

        @include bp-large {
            min-height: 164px;
            max-height: 164px;
        }

        @include bp-xlarge {
            min-height: 200px;
            max-height: 200px;
        }

        &.primary {
            @include bp-large {
                min-height: 338px;
            }

            @include bp-xlarge {
                min-height: 421px;
            }     
        }
    }
} 