/*--------------------------------------------------------------------------------------------
HOMEPAGE SLIDESHOW
---------------------------------------------------------------------------------------------*/

.homepage-slideshow {
    background-size: cover;
    background-position: center;
    display: inline-block;
    max-height: 755px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 0;

    .module {
        border: none;
        padding: 0;
        padding: 0;
        position: relative;
    }

    .slide {
        border: none;
        display: block;
        padding: 0;
        padding: 0;
        position: relative;    
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;    

        @include bp-xsmall {
            height: calc(70vh - 132px); 
        }

        @include bp-medium {
            height: calc(70vh - 132px); 
        }

        @include bp-large {
            height: calc(90vh - 132px);
        } 
    }

    .slide-txt {
        position: absolute;
        left: 5%;

        @include bp-xsmall {
            top: 4%;
        }

        @media (min-width: 360px) {
            top: 30%; 
        }

        @include bp-small {
            top: 30%;
        }

        @include bp-large {
            top: 35%;
            left: 20%;
        }

        h1 {
            font-weight: 600;
            text-transform: capitalize;
            line-height: 1em;

            @include bp-xsmall {
                font-size: 40px;
                line-height: 1em;
            }

            @include bp-medium {
                font-size: 60px;
                line-height: normal;
            }
        }

        span {
            display: block;
            text-transform: uppercase;

            @include bp-xsmall {
                font-size: 20px;
                margin-top: 15px;
            }

            @include bp-medium {
                font-size: 24px;
                margin-top: 20px;
            }
        }

        .uk-button-slideshow {
            font-weight: 300;
            font-family: $base-body-font-family;
            display: inline-block;

            @include bp-xsmall {
                padding: 2px 14px;
                font-size: 18px;
                margin-top: 20px;        
            }

            @include bp-medium {
                padding: 14px 44px;
                font-size: 24px;
                margin-top: 20px;        
            }

            &:hover {
                text-decoration: none;
            }
        }
    }
}
