/*--------------------------------------------------------------------------------------------
HOMEPAGE TESTIMONIALS
---------------------------------------------------------------------------------------------*/

.fw-home-testimonial {
    padding:0;

    @include bp-small {
        padding:60px 0;
    }

    @include bp-xlarge {
        padding:87px 0;
    }

    .uk-container {
        @include bp-xsmall {
            padding: 0;
        }

        @include bp-medium {
            padding: 0 25px;
        } 
    }

    background-image:url('#{$skin-url}img/testimonial-bg.jpg');
    background-repeat:no-repeat;
    background-position:center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .h-testimonial-container {
        min-height:300px;

        > .uk-flex > .uk-width-1-1 {
            margin-left:auto;
            margin-right:auto;
        }

        .h-testimonial-box {
            padding:40px 20px;
            flex: 1;
            max-width: 100%;

            @include bp-small {
                margin-bottom:20px;
                padding:20px;
            }

            @include bp-large {
                padding: 40px 70px;
            }
        }
    }

    h5 {
        font-size:32px;
        line-height:28px;
        text-transform: uppercase;
        text-align: center;
        display:block;
        clear:both;
        width:100%;
        font-weight:300;
        margin-bottom:30px; 
        margin-top:20px;

        @include bp-small {
            font-size:36px;
        }   
    }

    .h-testimonial-slider {
        padding:10px;
    
        .slide {
            display:flex;
            display: -ms-flexbox;
            display: -webkit-flex;

            @media only screen and (max-width:480px) {
                -ms-flex-direction: column-reverse;
                -webkit-flex-direction: column-reverse;
                flex-direction: column-reverse;
            }

            .name {
                flex: 1;
                padding-right: 20px;

                @include bp-small {
                    text-align: left;
                }

                span {
                    display: block;
                    font-size: 14px;
                    text-transform: uppercase;
                }

                a {
                    display:block;
                    margin-top:5px;
                    font-size:12px;
          
                    i {
                        font-size:14px;
                    }
                }

                @include bp-xsmall {
                    text-align: center;
                }

                @include bp-medium {
                    text-align: left;
                }
            }

            .testimonial {
                text-align: center;

                @include bp-small {
                    text-align: left;
                    padding-left:20px;
                    flex:4;
                }

                @include bp-large {
                    padding-left: 30px;
                }

                .testimonial-p {
                    min-height:100px;

                    p {
                        font-size:16px;
                        line-height:26px;
                        display:inline-block;

                        &:before,&:after {
                            content:"\0022";
                            display:inline-block;
                        }
                    }
                }
            }
        }
    }

    .slick-dots {
        position:absolute;
        bottom:-35px;
        left:-10px;
        width:100%;
        text-align: center;
        padding:0;

        @include bp-small {
            bottom:-90px;
        }

        li {
            display:inline-block;
            width:13px;
            height:13px;
            border-radius: 50%;
            margin:0 5px;
      
            &:first-child {
                margin-left:0;
            }
      
            &.slick-active,
            &:hover {
                cursor: pointer;
            }

            > button {
                display:none;
            }
        }
    }
}
