.page-title {
    font-weight: bold;
    display: inline-flex;
    line-height: 32px;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 32px 0 0;
    margin: 0 0 24px;
}

figure {
    margin: 0;
}

#app__aside {
    display: none;
}



/* add */

@media only screen and (min-width: 1201px) {

    #app__aside {
        width: 200px;
        padding: 0 32px 0 0;
        font-size: 14px;
        display: block;
    }

    #app__aside p {
        font-size: 14px;
        margin: 0 0 16px;
    }
}

/* app/layout */

#app__head {
    position: relative;
    box-shadow: 0 2px 42px rgba(87, 102, 105, .16);
    padding: 0 8px;
}

#app__sidebar {
    background: #f8f7fa;
}

#app__body {
    padding-top: 24px;
    background: #f8f7fa;
}

#app__main {
    padding: 0 24px;
    background: transparent;
}

/* split */

.split__minor {
    position: relative;
    overflow: visible;
}

.split__minor::after {
    content: " ";
    display: block;
    left: -24px;
    top: 0;
    bottom: 0;
    width: 24px;
    background: linear-gradient(90deg, rgba(248, 247, 250, 0), rgba(248, 247, 250, 1));
    position: absolute;
    z-index: 99999;
    pointer-events: none;
}

.article .split__minor::after {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.split__minor a {
    text-decoration: none;
    margin: 0 0 0 4px;
    color: inherit;
}

/* nodes */

.nodes {
    transition: transform .33s ease-in-out;
}

.nodes__toggle {
    width: 56px;
    margin-left: -56px;
    flex-shrink: 0;
}

.nodes__wrap {
    padding: 0;
    margin: 0 0 16px;
}

.nodes__wrap::before {
    display: none;
}

/* shutter styles */

.shutter .article {
    box-shadow: none;
}

.shutter__foot .button {
    margin: 8px 0 0;
}

.shutter .article__body {
    padding: 8px 24px;
}

#app__main .shutter__body form {
    padding: 0 24px;
    margin: 0 0 16px;
}

.shutter__body input,
.shutter__body select {
    padding: 7px;
    background-color: #edecef;
    font: 15px/16px Lato, sans-serif;
    border: 1px solid #eaeaea;
}

.shutter__body .input {
    border: none;
    padding: 0;
}

/* buttons & menu */

.btn,
.button {
    font-weight: bold;
}

.btn .icon {
    margin-top: -12px;
    margin-bottom: -9px;
}

.btn--strong,
.button--strong {
    background: #2693f8;
}

.btn--strong:hover,
.button--strong:hover {
    background: #3b9efa;
}

.buttons {
    display: inline-flex;
    margin: 0 0 24px;
}

.button--ghost {
    padding: 7px 15px;
    background: transparent;
    color: #807e8c;
    box-shadow: none;
    border: 1px solid transparent;
}

.button .icon {
    vertical-align: middle;
    align-self: center;
    margin: -3px 0 -1px 0;
}

.mnu.mnu--stacked a.current {
    color: #2693f8;
}

@media only screen and (min-width: 901px) {
    .mnu.mnu--stacked a .icon {
        display: none !important;
    }
}

.mnu.mnu--stacked .ttl,
.mnu.mnu--stacked a {
    padding: 8px 32px;
}

/* tokens */

.token {
    display: inline-flex;
    font-size: 15px;
}

/* articles */

.article {
    background: #fff;
    box-shadow: 2px 0 8px rgba(87, 102, 105, .08);
}

.article__content {
    display: block;
}

.article__body {
    padding: 16px;
}

.article__foot {
    padding: 16px;
}

.article .tokens {
    padding: 4px 16px 8px;
}

.fields {
    margin: 0 0 8px;
}

/* toggles */

.toggles--stacked {
    margin: 8px 0;
}

.toggles--stacked .toggle {
    padding: 4px 0;
    display: flex;
}

.toggle__checkbox {
    position: absolute;
    left: -999px;
}

.toggle__proxy {
    height: 32px;
    width: 32px;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    transition: opacity .33s ease;
    background: transparent;
    border: 2px dashed #807e8c;
}

.toggle--check :checked + .toggle__proxy {
    background: #2693f8;
    border-color: #2693f8;
}

.toggle--all {
    margin-right: 16px;
}

.toggle--check :checked + .toggle__proxy::after {
    content: "";
    display: block;
    height: 6px;
    width: 11px;
    background: transparent;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    position: absolute;
    left: 7px;
    top: 8px;
    transform: rotate(-45deg);
}

.toggle--all .toggle__proxy::after {
    content: "All";
    color: #807e8c;
    font-size: 13px;
    display: block;
    background: transparent;
    position: absolute;
    left: 6px;
    top: 2px;
    pointer-events: none;
    text-align: center;
}

.toggle--all :checked + .toggle__proxy {
    border-color: #2693f8;
}

.toggle--all :checked + .toggle__proxy::after {
    color: #2693f8;
}

.toggle--square .toggle__proxy {
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 0;
}

.toggle--square :checked + .toggle__proxy {
    background: #2693f8;
    border-color: #2693f8;
}

.toggle--square :checked + .toggle__proxy::after {
    content: "";
    display: block;
    height: 4px;
    width: 8px;
    background: transparent;
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    position: absolute;
    left: 2px;
    top: 2px;
    transform: rotate(-45deg);
}

/* thumbs */

.thumb .meter {
    position: absolute;
    left: 4px;
    right: 4px;
    bottom: 4px;
    height: 3px;
    background: #fff;
    border-radius: 2px;
}

.thumb .meter__value {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    background: #2693f8;
    border-radius: 2px;
    width: 0%;
}

.bg-thumb-a {
    color: #ff8579;
    background: #ffe0dd;
}

.bg-thumb-b {
    color: #ed443a;
    background: #fad0ce;
}

.bg-thumb-c {
    color: #e81f63;
    background: #f9c7d8;
}

.bg-thumb-d {
    color: #b9347e;
    background: #edccdf;
}

.bg-thumb-e {
    color: #8e3e96;
    background: #e3cfe5;
}

.bg-thumb-f {
    color: #54509f;
    background: #d8d1e6;
}

.bg-thumb-g {
    color: #54509f;
    background: #d4d3e7;
}

.bg-thumb-h {
    color: #4555a2;
    background: #d0d4e8;
}

.bg-thumb-i {
    color: #4471b8;
    background: #d0dbed;
}

.bg-thumb-j {
    color: #2592f8;
    background: #c8e4fd;
}

.bg-thumb-k {
    color: #2ba2dc;
    background: #cae8f6;
}

.bg-thumb-l {
    color: #07bbd3;
    background: #c1eef4;
}

.bg-thumb-m {
    color: #18abad;
    background: #c5eaea;
}

.bg-thumb-n {
    color: #029788;
    background: #c0e5e1;
}

.bg-thumb-o {
    color: #198c4b;
    background: #c5e2d1;
}

.bg-thumb-p {
    color: #49ae4d;
    background: #d1ebd2;
}

.bg-thumb-q {
    color: #88c249;
    background: #e1f0d1;
}

.bg-thumb-r {
    color: #cddc37;
    background: #f2f6cd;
}

.bg-thumb-s {
    color: #dfc213;
    background: #f7f0c4;
}

.bg-thumb-t {
    color: #fbc015;
    background: #feefc4;
}

.bg-thumb-u {
    color: #f7961f;
    background: #fde5c7;
}

.bg-thumb-v {
    color: #f37825;
    background: #fcddc8;
}

.bg-thumb-w {
    color: #ef582c;
    background: #fbd5ca;
}

.bg-thumb-x {
    color: #b95a3e;
    background: #edd6cf;
}

.bg-thumb-y {
    color: #dc6f5d;
    background: #f6dbd6;
}

.bg-thumb-z {
    color: #878686;
    background: #e1e1e1;
}